{{define "toast"}}
<script>
//Show messages to the user
function showToast(message, type) {
    console.log("Displaying Toast.",message,type)
    var toastTypeClass = '';
    switch (type) {
        case 'error': toastTypeClass = 'bg-danger'; break;
        case 'warning': toastTypeClass = 'bg-warning text-dark'; break;
        case 'info': toastTypeClass = 'bg-success'; break;
        default: toastTypeClass = 'bg-secondary';
    }

    var toastId = 'toast' + Date.now(); // Unique ID for each toast
    var toastHtml = `
        <div class="toast ${toastTypeClass}" id="${toastId}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="toast-body">
                ${message}
            </div>
        </div>`;

    $('#toastContainer').append(toastHtml);
    var toast = new bootstrap.Toast($('#' + toastId));
    toast.show();
    }
</script>
{{end}}

{{define "toastBox"}}
<!-- Message Box -->
  <div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Toasts will be added here dynamically -->
    </div>
{{end}}

{{define "fetchmanufacturers"}}
<script>
    // Fetch manufacturers
    async function fetchManufacturers() {
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: '/api-handler?targetAPI=/api/manufacturers',
                            type: 'GET',
                            dataType: 'json',
                            success: function(data) {
                                console.log("Manufacturers fetched successfully. Data:", data);
                                resolve(data); // Resolve the promise with the data
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                                var errorMessage = "Error during the request.";
                                
                                // Try to parse and use the custom error message from the server if available
                                if (jqXHR.responseText) {
                                    try {
                                        var resp = JSON.parse(jqXHR.responseText);
                                        if (resp && resp.error) {
                                            errorMessage = resp.error;
                                        }
                                    } catch (e) {
                                        console.error("Error parsing server response:", e);
                                    }
                                }
                                showToast(errorMessage, "error");  // Show the custom error message
                            }
                        });
                    });
                }
</script>
{{end}}

{{define "searchProductRow"}}
{{$permission := .Permission.Role}}
<script>
    function generateInputRow(manufacturers, currencies, seasons) {
        console.log("Generating Search Row")
        
        // Manufacturer dropdown options
        var manufacturerOptions = '<option value="" selected>Select Manufacturer</option>';
        manufacturers.forEach(function(manufacturer) {
            manufacturerOptions += `<option value="${manufacturer.name}">${manufacturer.name}</option>`;
        });
        
        // Generate Currency Options
        var currencyOptions = '<option value="" selected>Select Currency</option>';
        currencies.forEach(function(currency) {
            currencyOptions += `<option value="${currency}">${currency}</option>`;
        });

        // Generate Seasons Options
        var seasonOptions = '<option value="" selected>None</option>';
        seasons.forEach(function(season) {
            seasonOptions += `<option value="${season}">${season}</option>`;
        });

        // Generate the Insert Row
        var insertRow = `<tr class="table-danger">
            <td></td>
            <td><input class="form-control" type='text' id="new_sku"></td>
            <td><input class="form-control" type='text' id="new_manufacturerpart"></td>
            <td><input class="form-control" type='text' id="new_description"></td>
            {{if eq $permission "admin"}}<td><select class="form-select" id="new_manufacturer">${manufacturerOptions}</select></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="new_processrequest"></td>{{end}}
            <td><input class="form-control" type='text' id="new_unit"></td>
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="new_unitprice"></td>{{end}}
            {{if eq $permission "admin"}}<td><select class="form-select" id="new_currency">${currencyOptions}</select></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="new_orderqty"></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-check-input" type='checkbox' id="reorder" name="reorder" checked></td>{{end}}
            <td><select class="form-select" id="new_season">${seasonOptions}</select></td>
            <td><input class="form-control" type='text' id="new_inventoryqty"></td>
            <td><button class="btn btn-primary" id="btnSearch">Search</button></td>
            <td></td>
        </tr>`;
        return insertRow
    }
</script>
{{end}}

{{define "insertProductRow"}}
{{$permission := .Permission.Role}}
<script>
    function generateInputRow(manufacturers, currencies, seasons) {
        console.log("Generating Insert Row")
        
        // Manufacturer dropdown options
        var manufacturerOptions = '<option value="" selected>Select Manufacturer</option>';
        manufacturers.forEach(function(manufacturer) {
            manufacturerOptions += `<option value="${manufacturer.name}">${manufacturer.name}</option>`;
        });
        
        // Generate Currency Options
        var currencyOptions = '<option value="" selected>Select Currency</option>';
        currencies.forEach(function(currency) {
            currencyOptions += `<option value="${currency}">${currency}</option>`;
        });

        // Generate Seasons Options
        var seasonOptions = '<option value="None" selected>None</option>';
        seasons.forEach(function(season) {
            seasonOptions += `<option value="${season}">${season}</option>`;
        });

        // Generate the Insert Row
        var insertRow = `<tr class="table-info">
            <td></td>
            <td><input class="form-control" type='text' id="new_sku"></td>
            <td><input class="form-control" type='text' id="new_manufacturerpart"></td>
            <td><input class="form-control" type='text' id="new_description"></td>
            {{if eq $permission "admin"}}<td><select class="form-select" id="new_manufacturer">${manufacturerOptions}</select></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="new_processrequest"></td>{{end}}
            <td><input class="form-control" type='text' id="new_unit"></td>
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="new_unitprice"></td>{{end}}
            {{if eq $permission "admin"}}<td><select class="form-select" id="new_currency">${currencyOptions}</select></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="new_orderqty"></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-check-input" type='checkbox' id="reorder" name="reorder" checked></td>{{end}}
            <td><select class="form-select" id="new_season">${seasonOptions}</select></td>
            <td><input class="form-control" type='text' id="new_inventoryqty"></td>
            <td><button class="btn btn-primary" id="btnInsertNew">Insert</button></td>
            <td></td>
        </tr>`;
        return insertRow
    }
</script>
{{end}}

{{define "tableProductRow"}}
{{$permission := .Permission.Role}}
<script>
    function generateTableRow(item, index, manufacturers, currencies, seasons) {
        console.log("Processing item:", index, item);
        //create a map of acceptable currencies and select the correct one
        var currencyOptions = currencies.map(function(currency) {
            return `<option value="${currency}" ${currency === item.Currency ? 'selected' : ''}>${currency}</option>`;
        }).join('');

        //Create a map of all manufacturers
        var manufacturerOptions = manufacturers.map(function(manufacturer) {
            return `<option value="${manufacturer.name}" ${manufacturer.name === item.Manufacturer ? 'selected' : ''}>${manufacturer.name}</option>`;
        }).join('');
        
        // Season dropdown options
        let seasonOptions = `<option value="" ${!seasons.includes(item.Season) ? 'selected' : ''}></option>` +
            seasons.map(season => {
                return `<option value="${season}" ${item.Season === season ? 'selected' : ''}>${season}</option>`;
            }).join('');


        var row = `<tr>
                    <td><a role="button" class="image-link" data-standard-url="${item.Image.url_standard}" data-sku="${item.SKU}"><img class="img-rounded" data-bs-toggle="modal" data-bs-target="#ModalImage0" src="${item.Image.url_tiny}" height="45px"></a></td>
                    <td><input class="form-control" type='text' id="sku" name="sku" value="${item.SKU}"></td>
                    <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart" value="${item.ManufacturerPart}"></td>
                    <td><input class="form-control" type='text' id="description" name="description" value="${item.Description}"></td>
                    {{if eq $permission "admin"}}<td><select class="form-select" id="manufacturer" name="manufacturer">${manufacturerOptions}</select></td>{{end}}
                    {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="processrequest" name="processrequest" value="${item.ProcessRequest}"></td>{{end}}
                    <td><input class="form-control" type='text' id="unit" name="unit" value="${item.Unit}"></td>
                    {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="unitprice" name="unitprice" value="${item.UnitPrice}"></td>{{end}}
                    {{if eq $permission "admin"}}<td><select class="form-select" id="currency" name="currency">${currencyOptions}</select></td>{{end}}
                    {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="orderqty" name="orderqty" value="${item.OrderQty}"></td>{{end}}
                    {{if eq $permission "admin"}}<td><input class="form-check-input" type='checkbox' id="reorder" name="reorder" ${item.Reorder ? 'checked' : ''}></td>{{end}}
                    <td><select class="form-select" id="season" name="season">${seasonOptions}</select></td>
                    <td><input class="form-control" type='text' id="inventoryqty" name="inventoryqty" value="${item.InventoryQty}"></td>
                    <td><input type='button' value='Update' class='btn btn-primary update-button' data-item-id='${item.SKU}'></td>
                    <td><button type="button" class="btn btn-danger delete-button" data-item-id="${item.SKU}" data-bs-toggle="modal">Delete</button></td>
                    </tr>`;
        return row
    }
</script>
{{end}}

{{define "insertUserRow"}}
<script>
    function generateUserTableRow(user, index) {
        // Constructing the row HTML
        var rowHtml = `
        <tr>
            <td data-username="${user.Username}"><input class="form-control" type="text" value="${user.Username}" readonly></td>
            <td data-username="${user.Usercode}"><input class="form-control" type="text" value="${user.Usercode}" readonly></td>
            <td data-username="${user.Role}"><input class="form-control" type="text" value="${user.Role}" readonly></td>
            <td data-username="${user.Manager}">
                <select class="form-select">
                    <option value="${user.Manager}" selected>${user.Manager}</option>
                    <option value="johale">johale</option>
                    <option value="adicke">adicke</option>
                    <option value="cmcclu">cmcclu</option>
                </select>
            </td>
            <td data-username="${user.Sorting}"><input class="form-check-input" type="checkbox" ${user.Sorting ? 'checked' : ''}></td>
            <td><button class="btn btn-primary update-button" data-user-id="${user.Usercode}">Update</button></td>
            <td><button class="btn btn-danger delete-button" data-item-id="${user.Usercode}" data-bs-toggle="modal">Archive</button></td>
        </tr>
        `;

        // Returning the row HTML
        return rowHtml;
    }
</script>
{{end}}

{{define "btninsertProduct"}}
<script>
    $('#productTableBody').on('click', '#btnInsertNew', function() {
        console.log("Collecting data to insert new Product");
        var validationMessage = validateNewProductForm();
        if (validationMessage !== "") {
            showToast(validationMessage, "warning");
            return;
        }
        // Collecting input data
        var newProductData = {
            sku: $('#new_sku').val(),
            manufacturerPart: $('#new_manufacturerpart').val() || null,
            description: $('#new_description').val() || null,
            manufacturer: $('#new_manufacturer').val() || null,
            processRequest: $('#new_processrequest').val() || null,
            unit: $('#new_unit').val() || null,
            currency: $('#currency').val() || null,
            unitPrice: $('#new_unitprice').val() ? parseFloat($('#new_unitprice').val()) : null,
            orderQty: $('#new_orderqty').val() ? parseInt($('#new_orderqty').val(), 10) : null,
            reorder: $('#new_reorder').is(':checked'),
            season: $('#new_season').val() || null,
            inventoryQty: $('#new_inventoryqty').val() ? parseInt($('#new_inventoryqty').val(), 10) : null
        };

        console.log("Preparing to insert new product:", newProductData);

        // AJAX call to insert the new product
        $.ajax({
            url: '/api-handler?targetAPI=/api/productinsert', // API endpoint for product insertion
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(newProductData),
            success: function(response) {
                console.log("New product inserted successfully:", response);
                showToast("SKU inserted successfully.", "info");
                fetchAndUpdateTable(); //update the table
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            },
            beforeSend: function() {
                console.log("Sending request to insert new product.");
            },
            complete: function(jqXHR, textStatus) {
                console.log("Request to insert new product completed with status:", textStatus);
            }
        });
    });

    //Validate product insertion before submission
    function validateNewProductForm() {
                var missingFields = [];

                // Check SKU - required
                if ($('#new_sku').val().trim() === '') {
                    missingFields.push("SKU");
                }

                // Check Manufacturer Part - assuming it's required
                if ($('#new_manufacturerpart').val().trim() === '') {
                    missingFields.push("Manufacturer Part");
                }

                // Check Manufacturer - assuming it's required
                if ($('#new_manufacturer').val().trim() === '') {
                    missingFields.push("Manufacturer");
                }

                // Check Currency - assuming it's required
                if ($('#currency').val().trim() === '') {
                    missingFields.push("Currency");
                }

                // Check Unit - assuming it's required
                if ($('#new_unit').val().trim() === '') {
                    missingFields.push("Unit");
                }

                // Check Unit Price - assuming it's required and must be a valid number
                var unitPrice = $('#new_unitprice').val().trim();
                if (unitPrice === '' || isNaN(parseFloat(unitPrice))) {
                    missingFields.push("Unit Price");
                }

                // Check Order Qty - assuming it's required and must be a valid integer
                var orderQty = $('#new_orderqty').val().trim();
                if (orderQty === '' || !(/^\d+$/.test(orderQty))) {
                    missingFields.push("Order Quantity");
                }

                if (missingFields.length > 0) {
                    return "Please fill in the following required fields: " + missingFields.join(", ");
                }

                return "";
            }
</script>
{{end}}

{{define "btnupdateProduct"}}
<script>
    // Event listener for the update button click
    $('#productTableBody').on('click', '.update-button', function() {
        var row = $(this).closest('tr');
        var sku = $(this).data('item-id');

        var updatedProductData = {
            SKU: sku,
            ManufacturerPart: row.find('[name="manufacturerpart"]').val(),
            Description: row.find('[name="description"]').val(),
            Manufacturer: row.find('[name="manufacturer"]').val(),
            ProcessRequest: row.find('[name="processrequest"]').val(),
            Unit: row.find('[name="unit"]').val(),
            UnitPrice: parseFloat(row.find('[name="unitprice"]').val()),
            OrderQty: parseInt(row.find('[name="orderqty"]').val(), 10),
            Reorder: row.find('[name="reorder"]').is(':checked'),
            Season: row.find('[name="season"]').val(),
            InventoryQty: parseInt(row.find('[name="inventoryqty"]').val(), 10),
            Currency: row.find('[name="currency"]').val()
        };

        console.log("Preparing to update product:", updatedProductData);

        // AJAX call to update the product
        $.ajax({
            url: '/api-handler?targetAPI=/api/productupdate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(updatedProductData),
            success: function(response) {
                console.log("Product updated successfully:", response);
                showToast("SKU updated successfully.", "info");
                fetchAndUpdateTable(); //update the table
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            }
        });
    });
</script>
{{end}}

{{define "btnSearch"}}
<script>
    // Event listener for the search button
    $('#productTableBody').on('click', '#btnSearch', function() {
        console.log("Search button clicked");

        var searchParams = {
            sku: $('#new_sku').val(),
            manufacturerpart: $('#new_manufacturerpart').val(),
            description: $('#new_description').val(),
            manufacturer: $('#new_manufacturer').val(),
            processrequest: $('#new_processrequest').val(),
            unit: $('#new_unit').val(),
            unitprice: $('#new_unitprice').val(),
            currency: $('#new_currency').val(),
            orderqty: $('#new_orderqty').val(),
            season: $('#new_season').val(),
            inventoryqty: $('#new_inventoryqty').val()
        };

        console.log("Search Parameters:", searchParams);

        // Remove empty parameters
        Object.keys(searchParams).forEach(key => {
            if (!searchParams[key]) delete searchParams[key];
        });
        fetchAndUpdateTable(searchParams);
    });
</script>
{{end}}

{{define "btnDeleteSKU"}}
<script>
    var currentItemToDelete; // Global variable to store the current item to delete

    // Event handler for delete button clicks
    $(document).on('click', '.delete-button', function() {
        var itemId = $(this).data('item-id');
        currentItemToDelete = itemId;

        // Show the delete modal
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        $('#deleteItemID').text(itemId);
        $('#deleteModalLabel').text("Confirm Delete");
        $('#deleteModalText').text("Are you sure you want to delete the item with SKU: ");
            deleteModal.show();
    });

    // Event handler for the confirm delete action
    $('#confirmDelete').click(function() {
        console.log("Initiating delete request for item:", currentItemToDelete);

        $.ajax({
            url: '/api-handler?targetAPI=/api/productdelete',
            type: 'POST',
            contentType: 'application/json',  // Ensure JSON content type
            dataType: 'json',
            data: JSON.stringify({ sku: currentItemToDelete }), // Convert data to JSON string
            success: function(response) {
                console.log("Item deleted successfully:", response);
                showToast("SKU deleted successfully.", "info");
                fetchAndUpdateTable();  // Refresh the table data
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            },
            beforeSend: function() {
                console.log("Sending delete request to /api/productdelete.");
            },
            complete: function(jqXHR, textStatus) {
                console.log("Delete request completed with status:", textStatus);
                $('#deleteModal').modal('hide'); // Hide the modal after completion
            }
        });
    });
</script>
{{end}}

{{define "btnDeleteUser"}}
<script>
    var currentItemToDelete; // Global variable to store the current item to delete

    // Event handler for delete button clicks
    $(document).on('click', '.delete-button', function() {
        var itemId = $(this).data('item-id');
        currentItemToDelete = itemId;

        // Show the delete modal
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        $('#deleteItemID').text(itemId);
        $('#deleteModalLabel').text("Confirm User Delete");
        $('#deleteModalText').text("Are you sure you want to delete User: ");
            deleteModal.show();
    });

    // Event handler for the confirm delete action
    $('#confirmDelete').click(function() {
        console.log("Initiating delete request for user:", currentItemToDelete);

        $.ajax({
            url: '/api-handler?targetAPI=/api/userdelete',
            type: 'POST',
            contentType: 'application/json',  // Ensure JSON content type
            dataType: 'json',
            data: JSON.stringify({ usercode: currentItemToDelete }), // Send usercode for deletion
            success: function(response) {
                console.log("User deleted successfully:", response);
                showToast("User deleted successfully.", "info");
                fetchAndUpdateUserTable();  // Refresh the user table
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            },
            beforeSend: function() {
                console.log("Sending delete request to /api/userdelete.");
            },
            complete: function(jqXHR, textStatus) {
                console.log("Delete request completed with status:", textStatus);
                $('#deleteModal').modal('hide'); // Hide the modal after completion
            }
        });
    });
</script>
{{end}}

{{define "updateTable"}}
<script>
     // Function to fetch and update table data
     async function fetchAndUpdateTable(searchParams = {}) {
                // Get manufacturers data
                try {
                    console.log("Fetching manufacturers...");
                    const manufacturers = await fetchManufacturers(); // Wait for manufacturers to be fetched
                    console.log("Manufacturers fetched:", manufacturers);
                // Construct the query string from search parameters
                var queryString = Object.entries(searchParams).map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`).join('&');
                console.log("Query String: ",queryString);

                console.log("Fetching data with search parameters:", searchParams);
                $.ajax({
                      url: '/api-handler?targetAPI=/api/products?limit=100' + (queryString ? '&' + queryString : ''),
                      type: 'GET',
                      dataType: 'json',
                      success: function(data) {
                          console.log("Data fetched successfully. Number of records:", data.length);
      
                          var tableBody = $('#productTableBody');
                          tableBody.empty(); // Clear existing data

                          // Currency dropdown options
                          var currencies = ["USD", "CZK", "EUR", "GBP"];
                              
                          // Season dropdown options
                          var seasons = ['None', 'Christmas', 'Fall', 'Halloween'];                              

                          // Add the insert row at the beginning
                          var insertRow = generateInputRow(manufacturers, currencies, seasons);
                          tableBody.append(insertRow);
      
                          data.forEach(function(item, index) {
                              var row = generateTableRow(item, index, manufacturers, currencies, seasons);
                              tableBody.append(row);
                          });
      
                          console.log("Table updated successfully.");
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                            console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                            var errorMessage = "Error during the request.";
                            
                            // Try to parse and use the custom error message from the server if available
                            if (jqXHR.responseText) {
                                try {
                                    var resp = JSON.parse(jqXHR.responseText);
                                    if (resp && resp.error) {
                                        errorMessage = resp.error;
                                    }
                                } catch (e) {
                                    console.error("Error parsing server response:", e);
                                }
                            }
                            showToast(errorMessage, "error");  // Show the custom error message
                        },
                      beforeSend: function() {
                          console.log("Preparing to send AJAX request to /api/products.");
                      },
                      complete: function(jqXHR, textStatus) {
                          console.log("AJAX request completed with status:", textStatus);
                      }
                  });
              } catch (error) {
                    console.error("Error in fetching manufacturers:", error);
                    // Handle the error
                }
            }
  </script>
{{end}}

{{define "updateUserTable"}}
<script>
    function updateUserTable(users) {
        var tableBody = $('#userTableBody');
        tableBody.empty(); // Clear existing data

        users.forEach(function(user, index) {
            var row = generateUserTableRow(user, index);
            tableBody.append(row);
        });

        console.log("User table updated successfully.");
    }

    function fetchAndUpdateUserTable() {
        console.log("Fetching data from /api/users");

        $.ajax({
            url: '/api-handler?targetAPI=/api/users',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log("Received data:", data); // Debug the data received
                console.log("Data fetched successfully. Number of records:", data.users.length);
                updateUserTable(data.users);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            },
            beforeSend: function() {
                console.log("Preparing to send AJAX request to /api/users.");
            },
            complete: function(jqXHR, textStatus) {
                console.log("AJAX request completed with status:", textStatus);
            }
        });
    }
</script>
{{end}}

{{define "sortTable"}}
<script>
    $(document).ready(function() {
        // Attach click event listener to all th elements with data-column attribute
        $('#userTable thead th[data-column]').on('click', function() {
            var column = $(this).index(); // Index of the th within its row
            var type = $(this).data('type');
            sortTable(column, type);
        });

        function sortTable(column, type) {
            console.log(`Sorting by column index ${column} as a ${type}`); // Debugging line

            var rows, switching, i, x, y, shouldSwitch;
            rows = $("#userTableBody tr");
            switching = true;
            
            // Loop until no switching has been done
            while (switching) {
                switching = false;
                
                // Loop through all table rows
                for (i = 0; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    // Get the two elements you want to compare
                    x = rows[i].getElementsByTagName("TD")[column];
                    y = rows[i + 1].getElementsByTagName("TD")[column];

                    // Check if the two rows should switch place
                    if (type === "number") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (type === "string") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (type === "boolean") {
                        var xChecked = x.getElementsByTagName("input")[0].checked;
                        var yChecked = y.getElementsByTagName("input")[0].checked;
                        if (!xChecked && yChecked) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    // If a switch has been marked, make the switch and mark that a switch has been done
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    });
</script>
{{end}}

{{define "modalDelete"}}
<!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="deleteModalText"></span><span id="deleteItemID"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "modalImage"}}
<!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image Title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="w-100" id="modalImage" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{{end}}