{{define "exportbtn"}}
<script>
    // Event listener for the export button
    $(document).ready(function () {
        $('#contentTableBody').click(function() {
        // $('#exportData').click(function () {
            console.log("Export button clicked");

            // Get the dataset name from the button's data attribute
            let dataset = $(this).data('dataset');
            if (!dataset) {
                console.error("Dataset name is missing");
                showToast("Error: Dataset name is missing", "error");
                return;
            }

            // Collect current filters using the same logic as the search button
            let filters = {};
            $('#btnSearch').closest('tr').find('input,select').each(function () {
                let key = $(this).attr('id'); // Use the input's id as the key
                let value = $(this).val();
                if (value) {
                    filters[key] = value; // Add to filters if value is not empty
                }
            });

            // Convert filters object into a query string
            let filterParams = $.param(filters);

            // Specify columns to export (optional, or make dynamic based on the page)
            let columns = "sku_internal,manufacturer_code,sku_manufacturer,product_option";

            // Construct the API URL
            let exportUrl = `/api-handler?targetAPI=/api/export&dataset=${dataset}&filters=${filterParams}&columns=${columns}`;

            console.log("Export URL:", exportUrl);

            // Trigger the download by creating an anchor element and clicking it
            let link = document.createElement("a");
            link.href = exportUrl;
            link.download = `${dataset}.csv`; // Suggest a filename for the download
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link); // Clean up the DOM
        });
    });
    </script>    
{{end}}


{{define "toast"}}
<script>
//Show messages to the user
function showToast(message, type) {
    console.log("Displaying Toast.",message,type)
    var toastTypeClass = '';
    switch (type) {
        case 'error': toastTypeClass = 'bg-danger'; break;
        case 'warning': toastTypeClass = 'bg-warning text-dark'; break;
        case 'info': toastTypeClass = 'bg-success'; break;
        default: toastTypeClass = 'bg-secondary';
    }

    var toastId = 'toast' + Date.now(); // Unique ID for each toast
    var toastHtml = `
        <div class="toast ${toastTypeClass}" id="${toastId}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="toast-body">
                ${message}
            </div>
        </div>`;

    $('#toastContainer').append(toastHtml);
    var toast = new bootstrap.Toast($('#' + toastId));
    toast.show();
    }
</script>
{{end}}

{{define "toastBox"}}
<!-- Message Box -->
<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3">
    <!-- Toasts will be added here dynamically -->
</div>
{{end}}

{{define "fetchmanufacturers"}}
<script>
    // Fetch manufacturers
    async function fetchManufacturers() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/api-handler?targetAPI=/api/manufacturers',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log("Manufacturers fetched successfully. Data:", data);
                    resolve(data); // Resolve the promise with the data
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                    var errorMessage = "Error during the request.";
                    
                    // Try to parse and use the custom error message from the server if available
                    if (jqXHR.responseText) {
                        try {
                            var resp = JSON.parse(jqXHR.responseText);
                            if (resp && resp.error) {
                                errorMessage = resp.error;
                            }
                        } catch (e) {
                            console.error("Error parsing server response:", e);
                        }
                    }
                    showToast(errorMessage, "error");  // Show the custom error message
                }
            });
        });
    }
</script>
{{end}}

{{define "searchProductRow"}}
{{$permission := .Permission.Role}}
<script>
    function GenerateTopRow(manufacturers, currencies, seasons) {
        console.log("Generating Search Row")
        
        // Manufacturer dropdown options
        var manufacturerOptions = '<option value="" selected>Select Manufacturer</option>';
        manufacturers.forEach(function(manufacturer) {
            manufacturerOptions += `<option value="${manufacturer.name}">${manufacturer.name}</option>`;
        });
        
        // Generate Currency Options
        var currencyOptions = '<option value="" selected>Select Currency</option>';
        currencies.forEach(function(currency) {
            currencyOptions += `<option value="${currency}">${currency}</option>`;
        });

        // Generate Seasons Options
        var seasonOptions = '<option value="" selected>None</option>';
        seasons.forEach(function(season) {
            seasonOptions += `<option value="${season}">${season}</option>`;
        });

        // Generate the Insert Row
        var insertRow = `<tr class="table-danger">
            <td></td>
            <td><input class="form-control" type='text' id="sku"></td>
            <td><input class="form-control" type='text' id="manufacturerpart"></td>
            <td><input class="form-control" type='text' id="description"></td>
            {{if eq $permission "admin"}}<td><select class="form-select" id="manufacturer">${manufacturerOptions}</select></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="processrequest"></td>{{end}}
            <td><input class="form-control" type='text' id="unit"></td>
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="unitprice"></td>{{end}}
            {{if eq $permission "admin"}}<td><select class="form-select" id="currency">${currencyOptions}</select></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="orderqty"></td>{{end}}
            {{if eq $permission "admin"}}<td><input class="form-check-input" type='checkbox' id="reorder" name="reorder" checked></td>{{end}}
            <td><select class="form-select" id="season">${seasonOptions}</select></td>
            <td><input class="form-control" type='text' id="new_inventoryqty"></td>
            <td><button class="btn btn-primary" id="btnSearch">Search</button></td>
            <td></td>
            <td></td>
        </tr>`;
        return insertRow
    }
</script>
{{end}}

{{define "btnSearch"}}
<script>
    // Event listener for the search button
    var searchParams = {};
    $('#contentTableBody').on('click', '#btnSearch', function() {
        console.log("Search button clicked");
        // Construct searchParams object from input values
        $('#btnSearch').closest('tr').find('input,select').each(function() {
            // Use the input's id as the key and the input's value as the value
            var key = $(this).attr('id');
            var value = $(this).val();

            // Add key-value pair to searchParams object if the value is not empty
            if (value) {
                searchParams[key] = value;
            }
        });
        // Fetch and update the table based on the search parameters
        fetchAndUpdateTable(1, limit, searchParams);  // Reset to page 1 for new search
    });

    // Optional: Trigger search when pressing 'Enter' in any search field
    $('.search-row input').keypress(function(event) {
        if (event.which == 13) {  // 'Enter' key code
            $('#searchBtn').click();
        }
    });
</script>
{{end}}

{{define "updateTable"}}
<script>
    function updateTable(response, manufacturers) {
        var tableBody = $('#contentTableBody');
        tableBody.empty(); // Clear existing data

        // Currency dropdown options
        var currencies = ["USD", "CZK", "EUR", "GBP"];

        // Season dropdown options
        var seasons = ['None', 'Christmas', 'Fall', 'Halloween'];

        // Add the insert row at the beginning
        var insertRow = GenerateTopRow(manufacturers, currencies, seasons);
        tableBody.append(insertRow);

        response.products.forEach(function(item, index) {
            var row = generateTableRow(item, index, manufacturers, currencies, seasons);
            tableBody.append(row);
        });

        // Repopulate the search fields with current filters
        populateSearchFields();
    }

    // Function to populate search fields with current filters
        function populateSearchFields() {
            $('#btnSearch').closest('tr').find('input, select').each(function () {
                var key = $(this).attr('id');
                if (searchParams[key]) {
                    $(this).val(searchParams[key]); // Set the value of the input or select field
                }
            });
        }

     // Function to fetch and update table data
    async function fetchAndUpdateTable(currentPage, limit,searchParams = {}) {
        // Get manufacturers data
        try {
            console.log("Fetching manufacturers...");
            const manufacturers = await fetchManufacturers(); // Wait for manufacturers to be fetched
            console.log("Manufacturers fetched:", manufacturers);

            // Construct the query string from search parameters
            var limit = $('#limitSelect').val();
            var queryParams = $.param(searchParams); // Convert search parameters to query string
            var apiUrl = `/api-handler?targetAPI=/api/products&page=${currentPage}&limit=${limit}&${queryParams}`;
            console.log("Fetching data with search parameters:", searchParams);

            console.log("Fetching data from " + apiUrl);
            apicall(apiUrl,manufacturers)
        } catch (error) {
            console.error("Error in fetching manufacturers:", error);
            showToastF(error,"error")
            // Handle the error
        }
    }
</script>
{{end}}

{{define "updateUserTable"}}
<script>
    // Delete function for Users
    var currentItemToDelete; // Global variable to store the current item to delete

    // Event handler for delete button clicks
    $(document).on('click', '.delete-button', function() {
        var itemId = $(this).data('item-id');
        currentItemToDelete = itemId;

        // Show the delete modal
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        $('#deleteItemID').text(itemId);
        $('#deleteModalLabel').text("Confirm User Delete");
        $('#deleteModalText').text("Are you sure you want to delete User: ");
            deleteModal.show();
    });

    // Event handler for the confirm delete action
    $('#confirmDelete').click(function() {
        console.log("Initiating delete request for user:", currentItemToDelete);

        $.ajax({
            url: '/api-handler?targetAPI=/api/userdelete',
            type: 'POST',
            contentType: 'application/json',  // Ensure JSON content type
            dataType: 'json',
            data: JSON.stringify({ usercode: currentItemToDelete }), // Send usercode for deletion
            success: function(response) {
                console.log("User deleted successfully:", response);
                showToast("User deleted successfully.", "info");
                fetchAndUpdateTable();  // Refresh the user table
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            },
            beforeSend: function() {
                console.log("Sending delete request to /api/userdelete.");
            },
            complete: function(jqXHR, textStatus) {
                console.log("Delete request completed with status:", textStatus);
                $('#deleteModal').modal('hide'); // Hide the modal after completion
            }
        });
    });
</script>
<script>
    function generateTableRow(user, index) {
        // Constructing the row HTML
        var rowHtml = `
        <tr>
            <td data-username="${user.Username}"><input class="form-control" type="text" value="${user.Username}" readonly></td>
            <td data-username="${user.Usercode}"><input class="form-control" type="text" value="${user.Usercode}" readonly></td>
            <td data-username="${user.Role}"><input class="form-control" type="text" value="${user.Role}" readonly></td>
            <td data-username="${user.Manager}">
                <select class="form-select">
                    <option value="${user.Manager}" selected>${user.Manager}</option>
                    <option value="johale">johale</option>
                    <option value="adicke">adicke</option>
                    <option value="cmcclu">cmcclu</option>
                </select>
            </td>
            <td data-username="${user.Sorting}"><input class="form-check-input" type="checkbox" ${user.Sorting ? 'checked' : ''}></td>
            <td><button class="btn btn-primary update-button" data-user-id="${user.Usercode}">Update</button></td>
            <td><button class="btn btn-danger delete-button" data-item-id="${user.Usercode}" data-bs-toggle="modal">Archive</button></td>
        </tr>
        `;

        // Returning the row HTML
        return rowHtml;
    }
</script>
<script>
    function updateTable(response) {
        var tableBody = $('#contentTableBody');
        tableBody.empty(); // Clear existing data

        response.users.forEach(function(user, index) {
            var row = generateTableRow(user, index);
            tableBody.append(row);
        });

        // Update pagination display, etc.
        updatePaginationControls(response.currentPage, response.totalPages);

        console.log("User table updated successfully.");
    }

    function fetchAndUpdateTable(page = 1, limit = 10, searchParams = {}) {
        console.log("Fetching data from /api/users with page " + page + " and limit " + limit);

        // Constructing the search query string from `searchParams` object
        let queryString = $.param({...searchParams, page: page, limit: limit});
        apicall(`/api-handler?targetAPI=/api/users&${queryString}`);
    }

</script>
{{end}}

{{define "sortTable"}}
<script>
    $(document).ready(function() {
        // Attach click event listener to all th elements with data-column attribute
        $('#userTable thead th[data-column]').on('click', function() {
            var column = $(this).index(); // Index of the th within its row
            var type = $(this).data('type');
            sortTable(column, type);
        });

        function sortTable(column, type) {
            console.log(`Sorting by column index ${column} as a ${type}`); // Debugging line

            var rows, switching, i, x, y, shouldSwitch;
            rows = $("#userTableBody tr");
            switching = true;
            
            // Loop until no switching has been done
            while (switching) {
                switching = false;
                
                // Loop through all table rows
                for (i = 0; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    // Get the two elements you want to compare
                    x = rows[i].getElementsByTagName("TD")[column];
                    y = rows[i + 1].getElementsByTagName("TD")[column];

                    // Check if the two rows should switch place
                    if (type === "number") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (type === "string") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (type === "boolean") {
                        var xChecked = x.getElementsByTagName("input")[0].checked;
                        var yChecked = y.getElementsByTagName("input")[0].checked;
                        if (!xChecked && yChecked) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    // If a switch has been marked, make the switch and mark that a switch has been done
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    });
</script>
{{end}}

{{define "modalDelete"}}
<!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="deleteModalText"></span><span id="deleteItemID"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "modalImage"}}
<!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image Title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="w-100" id="modalImage" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "pageControls"}}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="d-flex justify-content-between align-items-center my-3">
                <nav aria-label="Page navigation" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" id="prevPage">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <!-- Page number items will be inserted here dynamically -->
                        <li class="page-item" id="nextPage">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="d-flex align-items-center">
                    <label for="limitSelect" class="me-2" style="min-width: 150px;">Items per page:</label>
                    <select id="limitSelect" class="form-select" style="width: auto;">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Update pagination controls
    function updatePaginationControls() {
        console.log("Updating Paginiation Controls")
        
        // Disable prev button if on first page
        if (currentPage <= 1) {
            $('#prevPage').addClass('disabled');
        } else {
            $('#prevPage').removeClass('disabled');
        }

        // Disable next button if on last page
        if (currentPage >= totalPages) {
            $('#nextPage').addClass('disabled');
        } else {
            $('#nextPage').removeClass('disabled');
        }
    }

    // Event listener for the previous page button
    $('#prevPage').click(function(event) {
        event.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            fetchAndUpdateTable(currentPage,limit, {cratejoy_status: "active"});
        }
    });

    // Event listener for the next page button
    $('#nextPage').click(function(event) {
        console.log("next page clicked")
        event.preventDefault();
        if (currentPage < totalPages) {
            currentPage++;
            fetchAndUpdateTable(currentPage,limit, {cratejoy_status: "active"});
        }
    });
    // Refresh the table when the limit changes
    $('#limitSelect').change(function() {
        var limit = $('#limitSelect').val();
        fetchAndUpdateTable(1, limit, {}); // Reset to page 1
    });
</script>
{{end}}

<!-- Dennis Nedry Easter Egg -->
{{define "nedry"}}
<img id="gif" src="https://media.tenor.com/ttEnKdyDKKIAAAAC/jurassic-park-nedry-dennis.gif" style="display:none; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); z-index: 9999;">
<script>
//Dennis Nedry easter egg
document.addEventListener("keydown", function(event) {
    if (event.ctrlKey && event.key === "m") {
    event.preventDefault(); // prevent browser default action
    var gif = document.getElementById("gif");
    if (gif.style.display === "block") {
        gif.style.display = "none";
    } else {
        gif.style.display = "block";
    }
    }
});
</script>
{{end}}

<!-- Loading Spinner -->
{{define "spinner"}}
<div id="loadingSpinner" class="loading-spinner-overlay">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
{{end}}

{{define "apicall"}}
<script>
    function apicall(apiUrl, data) {
        $.ajax({
                url: apiUrl,
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    console.log("Received data:", response); // Debug the data received
                    console.log("Data fetched successfully. Page:", response.currentPage, "of", response.totalPages);
                    updateTable(response, data);
                    // Update Pagination
                    currentPage = response.currentPage;
                    totalPages = response.totalPages;
                    updatePaginationControls();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#loadingSpinner').hide(); // Hide the spinner
                    console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                    let errorMessage = "Error during the request.";
                    
                    // Try to parse and use the custom error message from the server if available
                    if (jqXHR.responseText) {
                        try {
                            let resp = JSON.parse(jqXHR.responseText);
                            if (resp && resp.error) {
                                errorMessage = resp.error;
                            }
                        } catch (e) {
                            console.error("Error parsing server response:", e);
                        }
                    }
                    reject(errorMessage); // Reject the promise with the error message
                    showToast(errorMessage, "error");  // Show the custom error message
                },
                beforeSend: function() {
                    console.log(`Preparing to send AJAX request to /${apiUrl}.`);
                    $('#loadingSpinner').show(); // Show the spinner before sending the request
                },
                complete: function(jqXHR, textStatus) {
                    console.log("AJAX request completed with status:", textStatus);
                    $('#loadingSpinner').hide(); // Hide the spinner
                }
            });
    }
</script>
{{end}}