<html>
<head>
{{template "header"}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script> -->
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  {{$permission := .Permission.Perms}}
  {{$date := .Date}}
        <!-- Checkin Table -->
        <table class="table table-striped table-hover">
          <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
            <tr>
                <th scope="col" width=70px>ID</th>
                <th scope="col" width="120px">SKU</th>
                <th scope="col" width=220px>Description</th>
                <th scope="col">Instructions</th>
                {{if eq $permission "admin"}}<th scope="col" width=60px>Weight Out</th>{{end}}
                {{if eq $permission "admin"}}<th scope="col" width=100px>Checkout</th>{{end}}
                {{if eq $permission "admin"}}<th scope="col" width=90px>Sorter</th>{{end}}
                <!-- <th scope="col" width=60px>Weight In</th> -->
                <th scope="col" width=60px>Hours</th>
                <!-- <th scope="col" width=60px>Pieces</th> -->
                {{if eq $permission "admin"}}<th scope="col" width=100px>Check In</th>{{end}}
                <th width=80px></th>
            </tr>
        </thead>
        <tbody>
          {{range $index, $value := .SortRequests2}}
          <tr>
            <form method="GET" action="/sortingupdate">
              <input type="hidden" name="status" id="status" value="Checkin">
            <td><input class="form-control" type="text" id="requestid" name="requestid" value="{{.ID}}" readonly></td>
            <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}"readonly></td>
            <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"readonly></td>
            <td><input class="form-control" type='text' id="instructions" name="instructions" value="{{.Instructions}}" readonly></td>
            {{if eq $permission "admin"}}
            <td><input class="form-control" type='text' id="weightout" name="weightout" value="{{.Weightout}}" readonly></td>
            {{end}}
            {{if eq $permission "admin"}}
            <td><input class="form-control" type='date' id="checkout" name="checkout" value="{{.Checkout}}" readonly></td>
            {{end}}
            {{if eq $permission "admin"}}
            <td><input class="form-control" type='text' id="sorter" name="sorter" value="{{.Sorter}}" readonly></td>
            {{end}}
            <!-- <td><input class="form-control" type='text' id="weightin" name="weightin" value="{{.Weightin}}"></td> -->
            <td><input class="form-control" type="text" id="hours" name="hours"></td>
            <!-- <td><input class="form-control" type='text' id="pieces" name="pieces" value="{{.Pieces}}"></td> -->
            {{if eq $permission "admin"}}<td>{{end}}
              <input class="form-control checkin" {{if eq $permission "admin"}}type='date'{{else}}type='hidden'{{end}} id="checkin" name="checkin" value="{{$date}}"{{if ne $permission "admin"}} readonly{{end}}>
            {{if eq $permission "admin"}}</td>{{end}}
            <td><input type='submit' value='Check In' class="btn btn-primary"></td>
            </form>
          </tr>
          {{end}}
        </tbody>
        </table>
        <!-- End Checkin Table -->
{{template "footer" .}}
</body>
</html>
