<html>
<head>
{{template "header"}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script> -->
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  {{$permission := .Permission.Perms}}
  {{$user := .Permission.User}}
  {{$date := .Date}}
        <!-- Checkout Table -->
        <table class="table table-striped table-hover">
          <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
            <tr>
                {{if eq $permission "admin"}}<th scope="col" width=70px>ID</th>{{end}}
                <th scope="col" width="100px">Priority</th>
                <th scope="col" width="120px">SKU</th>
                <th scope="col" width=220px>Description</th>
                <th scope="col">Instructions</th>
                {{if eq $permission "receiving"}}<th scope="col" width=60px>Weight Out</th>{{end}}
                {{if eq $permission "admin"}}<th scope="col" width=100px>Checkout</th>{{end}}
                {{if eq $permission "admin"}}<th scope="col" width=90px>Sorter</th>{{end}}
                <th width=80px></th>
            </tr>
        </thead>
        <tbody>
          {{range $index, $value := .SortRequests}}
          <tr>
            <form method="GET" action="/sortingupdate">
            <input type="hidden" name="status" id="status" value="Checkout">
            {{if eq $permission "admin"}}<td><input class="form-control" type="text" id="requestid" name="requestid" value="{{.ID}}" readonly></td>{{else}}<input class="form-control" type="hidden" id="requestid" name="requestid" value="{{.ID}}" readonly>{{end}}
            <td>
              <select class="form-select" name="priority" id="priority" readonly>
                <option value="0" {{if eq .Priority 0}}selected{{end}} >Normal</option>
                <option value="1" {{if eq .Priority 1}}selected{{end}} >High</option>
              </select>
            </td>
            <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}"readonly></td>
            <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"readonly></td>
            <td><input class="form-control" type='text' id="instructions" name="instructions" value="{{.Instructions}}" readonly></td>
            {{if eq $permission "receiving"}}<td><input class="form-control" type='text' id="weightout" name="weightout" value="{{.Weightout}}" readonly></td>{{end}}
            {{if eq $permission "admin"}}<td>{{end}}
              <input class="form-control" {{if eq $permission "admin"}}type='date'{{else}}type='hidden'{{end}} id="checkout" name="checkout" value="{{$date}}" {{if ne $permission "admin"}}readonly{{end}}>
            {{if eq $permission "admin"}}</td>{{end}}
            {{if eq $permission "admin"}}
              <td>
                <select class="form-select" id="sorter" name="sorter">
                  <option selected disabled value> {{.Sorter}}</option>
                  {{range $.Users}}
                  <option value='{{.Username}}'>{{.Username}}</option>
                  {{end}}
                </select>
              </td>
            {{else}}
              <input type="hidden" id="sorter" name="sorter" value="{{$user}}">
            {{end}}
            <td><input type='submit' value='Checkout' class="btn btn-primary"></td>
            </form>
          </tr>
          {{end}}
        </tbody>
        </table>
        <!-- End Checkout Table -->
{{template "footer" .}}
</body>
</html>
