<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  {{$permission := .Permission.Perms}}
  <!-- Order Header Information -->
  <table width="100%">
    <tr>{{range .Orders}}
        <form action="/orderupdate" method="POST">
            <div class="form-group">
            <td width="300px"><h2> Order: {{.Ordernum}}</h2><hr></td>
        </tr>
        <tr>
            <td width="20"></td>
            <td style="padding:10px">Supplier:</td>
            <td><input  class="form-control" type='text' value="{{.Manufacturer}}" readonly></td>
            <td style="padding:10px">Tracking Number:</td>
            <td><input  class="form-control" type='text' name="tracking" id="tracking" value="{{.Tracking}}"></td>
            <td style="padding:10px">Order Status:</td>
            <td>
                {{if eq .Status "Closed"}}
                <input  class="form-control" type='text' value="{{.Status}}" readonly>
                {{else}}
                <select class="custom-select mr-sm-2" id="status" name="status">
                <option value='Pending' {{if eq .Status "pending"}}selected{{end}}>Pending</option>
                <option value='Ordered' {{if eq .Status "Ordered"}}selected{{end}}>Ordered</option>
                <option value='Shipped' {{if eq .Status "Shipped"}}selected{{end}}>Shipped</option>
                <option value='Received' {{if eq .Status "Received"}}selected{{end}}>Received</option>
                <option value='Closed' {{if eq .Status "Closed"}}selected{{end}}>Closed</option>
                </select>
                {{end}}
            </td>
            <td style="padding:10px">Comments:</td>
            <td><input  class="form-control" type='text' name="comments" id="comments" value="{{.Comments}}"></td>
            <input type="hidden" id="order" name="order" value="{{.Ordernum}}">
            <td width="20">
                {{if eq .Status "Closed"}}<input type='button' value='Update' class="btn btn-secondary">
                {{else}}<input type='submit' value='Update' class="btn btn-primary">
                {{end}}
            </td>
            </div>
        </form>
        {{end}}
        <form>
            <td width="95">
                {{range $index, $value := .Orders}}<input type="hidden" value="{{.Ordernum}}" id="order" name="order">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalExport"><i class="fa fa-download"></i> Export</button>
            </td>
        </form>
        <form>
            <td width="20">
                <input type="hidden" value="{{.Ordernum}}" id="order" name="order">
                {{if eq .Status "Pending"}}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete">Delete</button>
                {{else}}
                <button type="button" class="btn btn-secondary">Delete</button>
                {{end}}
            </td>
            <td width="20"></td>
        </form>
    </tr>
    <tr>
        <!-- Delete Modal -->
        <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalDeleteLabel">Confirm Order Delete</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                This will permanently delete this order, are you sure you want to proceed?
                </div>
                <div class="modal-footer">
                    <form action="/orderdelete" method="POST">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="hidden" value="{{.Ordernum}}" id="order" name="order">
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </form>
                </div>
            </div>
            </div>
        </div>{{end}}
        <!-- Export Modal -->
        <div class="modal fade" id="ModalExport" tabindex="-1" role="dialog" aria-labelledby="ModalExportLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalExportLabel">Confirm Order Export</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                This will export this order to excel, would you like to continue?
                </div>
                <div class="modal-footer">                    
                <form action="/export" method="POST">
                    {{range $index, $value := .Orders}}<input type="hidden" value="{{.Ordernum}}" id="order" name="order">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type='submit' value='Export' class="btn btn-success">
                    {{end}}
                </form>
                </div>
            </div>
            </div>
        </div>
        <hr>
    </tr>
  </table>
  <hr>
  <!-- SKUs table header -->
  <table class="table table-striped table-hover">
    <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Manufacturer Part #</th>
            <th scope="col">Product Option</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Processing Request</th>
            <th scope="col">Unit</th>
            {{if or (eq $permission "Purchasing") (eq $permission "admin")}}<th scope="col">Unit Price</th>{{end}}
            {{if or (eq $permission "Purchasing") (eq $permission "admin")}}<th scope="col">Currency</th>{{end}}
            {{if or (eq $permission "Purchasing") (eq $permission "admin")}}<th scope="col">Order Qty</th>{{end}}
            <!--<th scope="col">Reorder</th>-->
            <th scope="col">Inventory</th>
            <th>Season</th>
            <th></th>
        </tr>
    </thead>
    <!-- SKUs list -->
    <tbody>
        {{range .Orders}}
        {{$order := .Ordernum}}
        {{$status := .Status}}
        {{range .Products}}
                <tr>
                    <div class="form-group">
                        <td>{{.SKU}}</td>
                        <td>{{.ManufacturerPart}}</td>
                        <td>{{.Description}}</td>
                        <td>{{.Manufacturer}}</td>
                        <td>{{.ProcessRequest}}</td>
                        <td>{{.Unit}}</td>
                        {{if or (eq $permission "Purchasing") (eq $permission "admin")}}<td>{{.UnitPrice}}</td>{{end}}
                        {{if or (eq $permission "Purchasing") (eq $permission "admin")}}<td>{{.Currency}}</td>{{end}}
                        {{if or (eq $permission "Purchasing") (eq $permission "admin")}}<td>{{.Qty}}</td>{{end}}
                        <!--<td><input class="form-control" type='checkbox' name='sku' value='{{.SKU}}' checked></td> -->
                        <td>{{.InventoryQTY}}</td>
                        <td>{{.Season}}</td>
                        <td>
                            <form method="POST">
                                <input type="hidden" value="{{.SKU}}" id="sku" name="sku">
                                <input type="hidden" value="{{$order}}" id="order" name="order">
                                {{if eq $status "Pending"}}<button type="submit" class="btn btn-danger">Remove</button>{{end}}
                            </form>
                        </td>
                        </div>
                </tr>
            {{end}}
        {{end}}
    </tbody>
    </table>
  {{template "footer" .}}
</body>
</html>