<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <table>
    <tr>{{range .Orders}}
        <form>
            <div class="form-group">
            <td><h2>Order:{{.Ordernum}}</h2><hr></td>
        </tr>
        <tr>
            <td>Supplier:</td>
            <td><input  class="form-control" type='text'></td>
            <td>Tracking Number:</td>
            <td><input  class="form-control" type='text'></td>
            <td>Comments:</td>
            <td><input  class="form-control" type='text'></td>
            <td><input type='submit' value='Update' class="btn btn-primary"></td>
            </div>
        </form>
        {{end}}
        <form action="/export" method="POST">
            <td>
                {{range $index, $value := .Orders}}<input type="hidden" value="{{.Ordernum}}" id="order" name="order">
                <input type='submit' value='Export' class="btn btn-primary">
            </td>
        </form>
        <form>
            <td>
                <input type="hidden" value="{{.Ordernum}}" id="order" name="order">{{end}}
                <input type='submit' value='Delete' class="btn btn-danger">
            </td>
        </form>
    </tr>
  </table>
  <hr>
  <table class="table table-striped table-hover">
    <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Manufacturer Part #</th>
            <th scope="col">Product Option</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Processing Request</th>
            <th scope="col">Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Currency</th>
            <th scope="col">Order Qty</th>
            <th scope="col">Reorder</th>
            <th scope="col">Inventory</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .Orders}}
        {{range .Products}}
                <tr>
                    <div class="form-group">
                        <td>{{.SKU}}</td>
                        <td>{{.ManufacturerPart}}</td>
                        <td>{{.Description}}</td>
                        <td>{{.Manufacturer}}</td>
                        <td>{{.ProcessRequest}}</td>
                        <td>{{.Unit}}</td>
                        <td>{{.UnitPrice}}</td>
                        <td>{{.Currency}}</td>
                        <td>{{.Qty}}</td>
                        <td><input class="form-control" type='checkbox' name='sku' value='{{.SKU}}' checked></td> 
                        <td>{{.InventoryQTY}}</td>
                        </div>
            </tr>
            {{end}}
        {{end}}
    </tbody>
    </table>
  {{template "footer" .}}
</body>
</html>