<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <table>
    <tr>
        <form>
            <div class="form-group">
            <td><p>Order:</p></td>
            <td><input  class="form-control" type='text'></td>
            <td>Supplier:</td>
            <td><input  class="form-control" type='text'></td>
            <td>Tracking Number:</td>
            <td><input  class="form-control" type='text'></td>
            <td>Comments:</td>
            <td><input  class="form-control" type='text'></td>
            </div>
        </form>
    </tr>
  </table>
  <hr>
  <table class="table table-striped table-hover">
    <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Manufacturer Part #</th>
            <th scope="col">Product Option</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Processing Request</th>
            <th scope="col">Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Currency</th>
            <th scope="col">Order Qty</th>
            <th scope="col">Reorder</th>
            <th scope="col">Inventory</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
  {{template "footer" .}}
</body>
</html>