<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <table class="table table-striped table-hover">
    <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Status</th>
            <th scope="col">Comments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .Orders}}
        <tr>
            <form action="/order" method="GET">
            <td><input class="form-control" type='text' id="order" name="order" value="{{.Ordernum}}" readonly></td>
            <td><input class="form-control" type='text'value="{{.Manufacturer}}" readonly></td>
            <td><input class="form-control" type='text'value="{{.Status}}" readonly></td>
            <td><input class="form-control" type='text'value="{{.Comments}}" readonly></td>
            <td><input type='submit' value='Open' class="btn btn-primary"></td>
            </form>
        </tr>
        {{end}}
    </tbody>
    </table>
    {{template "footer" .}}
  </body>
  </html>