<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br> 
  {{template "messagebox" .}}
  <div class="formentry">
  <table>
    <tr>
        <td><label for="exampleFormControlFile1">Select file for upload:</label></td>
        <form enctype="multipart/form-data" action="/upload" method="POST">
            <td><input class="form-control-file" type="file" name="file" multiple /></td>
            <td><button class="btn btn-primary" type="submit">Submit</button></td>
        </form>
    </tr>
  </table>
  </div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th scope="col">SKU</th>
                    <th scope="col">Manufacturer Part #</th>
                    <th scope="col">Product Option</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Processing Request</th>
                    <th scope="col">Sorting Team Request</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Order Qty</th>
                    <th scope="col">Reorder</th>
                    <th scope="col">Inventory</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-info">
                    <form method="GET" action="/productupdate">
                        <div class="form-group">
                        <td><input class="form-control" type='text' id="sku" name="sku"></td>
                        <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart"></td>
                        <td><input class="form-control" type='text' id="description" name="description"></td>
                        <td>
                          <select class="custom-select mr-sm-2" id="manufacturer" name="manufacturer">
                            <option disabled selected hidden value>Select an Option</option>
                            <option value='PW'>PW</option>
                            <option value='W'>W</option>
                            <option value='H'>H</option>
                            <option value='B'>B</option>
                            <option value='PH'>PH</option>
                            <option value='G'>G</option>
                            <option value='RKY'>RKY</option>
                            <option value='NV'>NV</option>
                            <option value='CBRO'>CBRO</option>
                            <option value='CRBO'>CRBO</option>
                            <option value='R'>R</option>
                            <option value='PEG'>PEG</option>
                            <option value='GB'>GB</option>
                            <option value='NB'>NB</option>
                            <option value='PG'>PG</option>
                            <option value='VK'>VK</option>
                          </select>
                        </td>
                        <td><input class="form-control" type='text' id="processrequest" name="processrequest"></td>
                        <td><input class="form-control" type='text' id="sortingrequest" name="sortingrequest"></td>
                        <td><input class="form-control" type='text' id="unit" name="unit"></td>
                        <td><input class="form-control" type='text' id="unitprice" name="unitprice"></td>
                        <td><select class="custom-select mr-sm-2" id="currency" name="currency">
                            <option disabled selected hidden value>Select an Option</option>
                            <option value="USD">USD</option>
                            <option value="CZK">CZK</option>
                            <option value="EUR">EUR</option>
                          </select>
                        </td>
                        <td><input class="form-control" type='text' id="orderqty" name="orderqty"></td>
                        <td><input class="form-control" type='checkbox' id='reorder' name='reorder' value='yes'></td> 
                        <td></td>
                        <td><input type="hidden" id="insert" name="insert" value="true"><input type='submit' value='Insert' class="btn btn-primary"></td>
                        </div>
                    </form>
                </tr>{{range .ProductList}}
                <tr>
                  <form method="GET" action="/productupdate">
                      <div class="form-group">
                      <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}" readonly></td>
                      <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart" value="{{.ManufacturerPart}}"></td>
                      <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"></td>
                      <td>
                        <select class="custom-select mr-sm-2" id="manufacturer" name="manufacturer">
                          <option value='PW' {{if eq .Manufacturer "PW"}}selected{{end}}>PW</option>
                          <option value='W' {{if eq .Manufacturer "W"}}selected{{end}}>W</option>
                          <option value='H' {{if eq .Manufacturer "H"}}selected{{end}}>H</option>
                          <option value='B' {{if eq .Manufacturer "B"}}selected{{end}}>B</option>
                          <option value='PH' {{if eq .Manufacturer "PH"}}selected{{end}}>PH</option>
                          <option value='G' {{if eq .Manufacturer "G"}}selected{{end}}>G</option>
                          <option value='RKY' {{if eq .Manufacturer "RKY"}}selected{{end}}>RKY</option>
                          <option value='NV' {{if eq .Manufacturer "NV"}}selected{{end}}>NV</option>
                          <option value='CBRO' {{if eq .Manufacturer "CBRO"}}selected{{end}}>CBRO</option>
                          <option value='CRBO' {{if eq .Manufacturer "CRBO"}}selected{{end}}>CRBO</option>
                          <option value='R' {{if eq .Manufacturer "R"}}selected{{end}}>R</option>
                          <option value='PEG' {{if eq .Manufacturer "PEG"}}selected{{end}}>PEG</option>
                          <option value='GB' {{if eq .Manufacturer "GB"}}selected{{end}}>GB</option>
                          <option value='NB' {{if eq .Manufacturer "NB"}}selected{{end}}>NB</option>
                          <option value='PG' {{if eq .Manufacturer "PG"}}selected{{end}}>PG</option>
                          <option value='VK' {{if eq .Manufacturer "VK"}}selected{{end}}>VK</option>
                        </select>
                      </td>
                      <td><input class="form-control" type='text' id="processrequest" name="processrequest" value="{{.ProcessRequest}}"></td>
                      <td><input class="form-control" type='text' id="sortingrequest" name="sortingrequest" value="{{.SortingRequest}}"></td>
                      <td><input class="form-control" type='text' id="unit" name="unit" value="{{.Unit}}"></td>
                      <td><input class="form-control" type='text' id="unitprice" name="unitprice" value="{{.UnitPrice}}"></td>
                      <td><select class="custom-select mr-sm-2" id="currency" name="currency">
                          <option value="USD"{{if eq .Currency "USD"}} selected{{end}}>USD</option>
                          <option value="CZK"{{if eq .Currency "CZK"}} selected{{end}}>CZK</option>
                          <option value="EUR"{{if eq .Currency "EUR"}} selected{{end}}>EUR</option>
                        </select>
                      </td>
                      <td><input class="form-control" type='text' id="orderqty" name="orderqty" value="{{.Qty}}"></td>
                      <td><input class="form-control" type='checkbox' id='reorder' name='reorder' value='yes' {{.Reorder}} {{with .Reorder}}checked{{end}}></td> 
                      <td><input class="form-control" type='text' id="inventoryqty" name="inventoryqty" value="{{.InventoryQTY}}" readonly></td>
                      <td><input type='submit' value='Update' class="btn btn-primary"></td>
                      </div>
                  </form>
              </tr>
              {{end}}
            </tbody>
        </table>
  {{template "footer" .}}
</body>
</html>