<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <div class="formentry">
  <table>
    <tr>
        <td><label for="exampleFormControlFile1">Select file for upload:</label></td>
        <form enctype="multipart/form-data" action="/upload" method="POST">
            <td><input class="form-control-file" type="file" name="file" multiple /></td>
            <td><button class="btn btn-primary" type="submit">Submit</button></td>
        </form>
    </tr>
  </table>
  </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">SKU</th>
                    <th scope="col">Description</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Manufacturer Part #</th>
                    <th scope="col">Processing Request</th>
                    <th scope="col">Sorting Team Request</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Order Qty</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{template "product"}}
                {{template "product"}}
                {{template "product"}}
            </tbody>
        </table>
  {{template "footer" .}}
</body>
</html>
