<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <div class="formentry">
  <table>
    <tr>
        <td><label for="exampleFormControlFile1">Select file for upload:</label></td>
        <form>
            <td><input class="form-control-file" type="file" name="file" multiple /></td>
            <td><button class="btn btn-primary" type="submit">Submit</button></td>
        </form>
    </tr>
  </table>
  </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Item #</th>
                    <th scope="col">Description</th>
                    <th scope="col">Manufacturer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form method="POST">
                        <div class="form-group">
                        <td><input class="form-control" type='text'></td>
                        <td><input class="form-control" type='text'></td>
                        <td><select class="custom-select mr-sm-2" id="manufacturer">
                            <option value="pandahall">Pandahall</option>
                          </select>
                        </td>
                        <td><input type='button' value='Insert' class="btn btn-primary"></td>
                        </div>
                    </form>
                </tr>
                <tr>
                    <form>
                        <div class="form-group">
                        <td><input class="form-control" type='text' value="123456"></td>
                        <td><input class="form-control" type='text' value="Glass 102"></td>
                        <td><select class="custom-select mr-sm-2" id="manufacturer">
                            <option value="pandahall">Pandahall</option>
                          </select>
                        </td>
                        <td><input type='button' value='Update' class="btn btn-primary"></td>
                        </div>
                    </form>
                </tr>
            </tbody>
        </table>
  {{template "footer" .}}
</body>
</html>
