<!DOCTYPE html>
<html>
<head>
    {{template "header"}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{template "navigation" .}}
    <br> 
    {{template "messagebox" .}}
  <div class="panel-group" id="accordion">
    {{range $index, $value := .Orders}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">{{.ManufacturerName}} - {{len .Products}} products</a>
        </h4>
      </div>
      <div id="collapse{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
            <form method="POST" action="/ordercreate">
                <input type="hidden" name="manufacturer" id="manufacturer" value="{{.Manufacturer}}">
                <input type='submit' value='Create Order' class="btn btn-primary">
            </form>
            <table class="table table-striped table-hover">
                <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th scope="col">SKU</th>
                        <th scope="col">Manufacturer Part #</th>
                        <th scope="col">Product Option</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Processing Request</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Order Qty</th>
                        <th scope="col">Add to Order</th>
                        <th scope="col">Inventory</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Products}}
                    <tr>
                        <form method="GET" action="/productupdate">
                            <div class="form-group">
                            <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}" readonly></td>
                            <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart" value="{{.ManufacturerPart}}"></td>
                            <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"></td>
                            <td>
                              <select class="custom-select mr-sm-2" id="manufacturer" name="manufacturer">
                                <option value='PW' {{if eq .Manufacturer "PW"}}selected{{end}}>PW</option>
                                <option value='W' {{if eq .Manufacturer "W"}}selected{{end}}>W</option>
                                <option value='H' {{if eq .Manufacturer "H"}}selected{{end}}>H</option>
                                <option value='B' {{if eq .Manufacturer "B"}}selected{{end}}>B</option>
                                <option value='PH' {{if eq .Manufacturer "PH"}}selected{{end}}>PH</option>
                                <option value='G' {{if eq .Manufacturer "G"}}selected{{end}}>G</option>
                                <option value='RKY' {{if eq .Manufacturer "RKY"}}selected{{end}}>RKY</option>
                                <option value='NV' {{if eq .Manufacturer "NV"}}selected{{end}}>NV</option>
                                <option value='CBRO' {{if eq .Manufacturer "CBRO"}}selected{{end}}>CBRO</option>
                                <option value='CRBO' {{if eq .Manufacturer "CRBO"}}selected{{end}}>CRBO</option>
                                <option value='R' {{if eq .Manufacturer "R"}}selected{{end}}>R</option>
                                <option value='PEG' {{if eq .Manufacturer "PEG"}}selected{{end}}>PEG</option>
                                <option value='GB' {{if eq .Manufacturer "GB"}}selected{{end}}>GB</option>
                                <option value='NB' {{if eq .Manufacturer "NB"}}selected{{end}}>NB</option>
                                <option value='PG' {{if eq .Manufacturer "PG"}}selected{{end}}>PG</option>
                                <option value='VK' {{if eq .Manufacturer "VK"}}selected{{end}}>VK</option>
                              </select>
                            </td>
                            <td><input class="form-control" type='text' id="processrequest" name="processrequest" value="{{.ProcessRequest}}"></td>
                            <td><input class="form-control" type='text' id="unit" name="unit" value="{{.Unit}}"></td>
                            <td><input class="form-control" type='text' id="unitprice" name="unitprice" value="{{.UnitPrice}}"></td>
                            <td><select class="custom-select mr-sm-2" id="currency" name="currency">
                                <option value="USD"{{if eq .Currency "USD"}} selected{{end}}>USD</option>
                                <option value="CZK"{{if eq .Currency "CZK"}} selected{{end}}>CZK</option>
                                <option value="EUR"{{if eq .Currency "EUR"}} selected{{end}}>EUR</option>
                              </select>
                            </td>
                            <td><input class="form-control" type='text' id="orderqty" name="orderqty" value="{{.Qty}}"></td>
                            <td><input class="form-control" type='checkbox' id='reorder' name='reorder' value='yes' {{.Reorder}} {{with .Reorder}}checked{{end}}></td> 
                            <td><input class="form-control" type='text' id="inventoryqty" name="inventoryqty" value="{{.InventoryQTY}}" readonly></td>
                            </div>
                        </form>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    {{end}}
  </div> 
    
</body>
</html>
