<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  {{$permission := .Permission.Role}}
  <div class="table-responsive">
    <table class="table table-striped table-hover .table-sm" style="max-width: none">
      <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          {{if eq $permission "admin"}}<th scope="col" width="70px" class="d-none d-md-table-cell">ID</th>{{end}}
          <th scope="col" width="120px">SKU</th>
          <th scope="col" width="220px">Description</th>
          {{if eq $permission "admin"}}<th scope="col" width="220px" class="d-none d-md-table-cell">Manufacturer Part #</th>{{end}}
          {{if eq $permission "admin"}}<th scope="col" class="d-none d-lg-table-cell">Instructions</th>{{end}}
          <th scope="col" width="60px">Weight Out</th>
          <th scope="col" width="60px">Weight In</th>
          {{if eq $permission "receiving"}}<th scope="col" width="60px" class="d-none d-md-table-cell">Difference</th>{{end}}
          <th scope="col" width="60px">Pieces</th>
          <th scope="col" width="60px">Hours</th>
          {{if eq $permission "admin"}}<th scope="col" width="60px" class="d-none d-md-table-cell">Checkout Date</th>{{end}}
          {{if eq $permission "admin"}}<th scope="col" width="100px" class="d-none d-md-table-cell">Checkin Date</th>{{end}}
          {{if eq $permission "admin"}}<th scope="col" width="90px" class="d-none d-md-table-cell">Sorter</th>{{end}}
          <th scope="col" width="90px">Status</th>
          {{if eq $permission "admin"}}<th scope="col" width="90px" class="d-none d-md-table-cell">Priority</th>{{end}}
          <th colspan="2"></th>
          <th width="80px" class="d-none d-lg-table-cell"></th>
          <th width="80px" class="d-none d-lg-table-cell"></th>
        </tr>
      </thead>
  <tbody>
    {{if eq $permission "admin"}}
    <tr class="table-info">
      <form method="GET" action="/sortingupdate">
      <td></td>
      <td><input class="form-control" type='text' id="sku" name="sku"></td>
      <td><input class="form-control" type='text' id="description" name="description"></td>
      <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart"></td>
      <td><input class="form-control" type='text' id="instructions" name="instructions"></td>
      <td><input class="form-control" type='text' id="weightout" name="weightout"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin"></td>
      <td><input class="form-control" type='text' id="pieces" name="pieces"></td>
      <td><input class="form-control" type='text' id="hours" name="hours"></td>
      <td><input type="date" class="form-control" type='text' id="checkout" name="checkout"></td>
      <td><input type="date" class="form-control" type='text' id="checkin" name="checkin"></td>
      <td>
        <select class="form-select" id="sorter" name="sorter">
          <option value="" selected></option>
          {{range $.Users}}
          <option value='{{.Username}}'>{{.Username}}</option>
          {{end}}
        </select>
      </td>
      <td>
        <select class="form-select" id="status" name="status">
            <option value="New">New</option>
            <option value="Checkout">Checkout</option>
            <option value="Checkin">Checkin</option>
        </select>
      </td>
      <td>
        <select class="form-select" id="priority" name="priority">
          <option value="0">Normal</option>
          <option value="1">High</option>
        </select>
      </td>
      <td><input type='submit' value='Insert' class="btn btn-primary"></td>
      <td></td>
      </form>
    </tr>
    
    <tr class="table-danger">
      <form method="GET" action="/sorting">
      <td></td>
      <td><input class="form-control" type='text' id="sku" name="sku"></td>
      <td><input class="form-control" type='text' id="description" name="description"></td>
      <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart"></td>
      <td><input class="form-control" type='text' id="instructions" name="instructions"></td>
      <td><input class="form-control" type='text' id="weightout" name="weightout"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin"></td>
      <td><input class="form-control" type='text' id="pieces" name="pieces"></td>
      <td><input class="form-control" type='text' id="hours" name="hours"></td>
      <td><input type="date" class="form-control" type='text' id="checkout" name="checkout"></td>
      <td><input type="date" class="form-control" type='text' id="checkin" name="checkin"></td>
      <td>
        <select class="form-select" id="sorter" name="sorter">
          <option value="" selected></option>
          {{range $.Users}}
          <option value='{{.Username}}'>{{.Username}}</option>
          {{end}}
        </select>
      </td>
      <td>
        <select class="form-select" id="status" name="status">
            <option value="" selected></option>
            <option value="New">New</option>
            <option value="Checkout">Checkout</option>
            <option value="Checkin">Checkin</option>
        </select>
      </td>
      <td>
        <select class="form-select" id="priority" name="priority">
          <option value="0">Normal</option>
          <option value="1">High</option>
        </select>
      </td>
      <td><input type='submit' value='Search' class="btn btn-primary"></td>
      <td></td>
      </form>
    </tr>
    {{end}}
    {{if eq $permission "receiving"}}
    <tr class="table-danger">
      <form method="GET" action="/sorting">
      <td><input class="form-control" type='text' id="sku" name="sku"></td>
      <td><input class="form-control" type='text' id="description" name="description"></td>
      <td><input class="form-control" type='text' id="weightout" name="weightout"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin"></td>
      <td></td>
      <td><input class="form-control" type='text' id="pieces" name="pieces"></td>
      <td><input class="form-control" type='text' id="hours" name="hours"></td>
      <td>
        <select class="form-select" id="status" name="status">
            <option value="New">New</option>
            <option value="Checkout">Checkout</option>
            <option value="Checkin">Checkin</option>
        </select>
      </td>
      <td><input type='submit' value='Search' class="btn btn-primary"></td>
      <td></td>
      </form>
    </tr>
    {{end}}
    {{range $index, $value := .SortRequests}}
    <!-- Delete Modal -->
          <div class="modal fade" id="ModalDelete{{$index}}" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="ModalDeleteLabel{{$index}}">Confirm Sorting Request Delete</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                    This will permanently delete Sorting Request ID#{{.ID}}, are you sure you want to proceed?
                  </div>
                  <div class="modal-footer">
                      <form action="/sortrequestdelete" method="POST">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <input type="hidden" value="{{.ID}}" id="requestid" name="requestid">
                          <button type="submit" class="btn btn-danger">Yes, Delete</button>
                      </form>
                  </div>
              </div>
            </div>
        </div>
    <tr{{if .Warn}} class="table-warning"{{end}}>
      <form method="GET" action="/sortingupdate">
      {{if eq $permission "admin"}}<td><input class="form-control" type="text" id="requestid" name="requestid" value="{{.ID}}" readonly></td>{{end}}
      <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}"{{if ne $permission "admin"}} readonly{{end}}></td>
      <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"{{if ne $permission "admin"}} readonly{{end}}></td>
      {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart" value="{{.ManufacturerPart}}"></td>{{end}}
      {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="instructions" name="instructions" value="{{.Instructions}}"{{if ne $permission "admin"}} readonly{{end}}></td>{{end}}
      <td><input class="form-control" type='text' id="weightout" name="weightout" value="{{.Weightout}}"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin" value="{{.Weightin}}"></td>
      {{if eq $permission "receiving"}}<td><input class="form-control" type='text' value='{{.Difference}}' readonly></td>{{end}}
      <td><input class="form-control" type='text' id="pieces" name="pieces" value="{{.Pieces}}"></td>
      <td><input class="form-control" type='text' id="hours" name="hours" value="{{.Hours}}"></td>
      {{if eq $permission "admin"}}<td><input type="date" class="form-control" id="checkout" name="checkout" value="{{.Checkout}}"{{if ne $permission "admin"}} readonly{{end}}></td>{{end}}
      {{if eq $permission "admin"}}<td><input type="date" class="form-control" id="checkin" name="checkin" value="{{.Checkin}}"{{if ne $permission "admin"}} readonly{{end}}></td>{{end}}
      {{if eq $permission "admin"}}<td>
        <select class="form-select" id="sorter" name="sorter">
          <option selected disabled value> {{.Sorter}}</option>
          {{range $.Users}}
          <option value='{{.Username}}'>{{.Username}}</option>
          {{end}}
        </select>
      </td>{{end}}
      <td>
        {{if eq $permission "admin"}}
        <select class="form-select" id="status" name="status">
            <option value="New" {{if eq .Status "New"}}selected{{end}}>New</option>
            <option value="Checkout" {{if eq .Status "Checkout"}}selected{{end}}>Checkout</option>
            <option value="Checkin" {{if eq .Status "Checkin"}}selected{{end}}>Checkin</option>
        </select>
        {{else}}
          <input class="form-control" type="text" id="status" name="status" value="{{.Status}}" readonly>
        {{end}}
      </td>
      {{if eq $permission "admin"}}<td>
        <select class="form-select" id="priority" name="priority">
          <option value="0" {{if eq .Priority 0}}selected{{end}}>Normal</option>
          <option value="1" {{if eq .Priority 1}}selected{{end}}>High</option>
        </select>
      </td>{{end}}
      <td><input type='submit' value='Update' class="btn btn-primary"></td>
      {{if eq $permission "admin"}}<td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete{{$index}}">Delete</button></td>{{else}}<td></td>{{end}}
      </form>
      <td>
      <form id="load-error-form" action="/sorterror" method="get">
          <input type="hidden" class="form-control" id="requestid" name="requestid" value="{{.ID}}">
        <button type="submit" class="btn btn-danger">Error</button>
      </form>
    </td>
    </tr>
    {{end}}
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
  </tbody>
  </table>
  </div>
  {{template "footer" .}}
</body>
</html>
