<html>
<head>
  {{template "header"}}
  <title>{{.Title}}</title>
  
</head>
<body>
  {{template "navigation" .}}
  {{$permission := .Permission.Role}}
  {{$admin := .Permission.Permissions.Admin}}
  {{$mgmt := .Permission.Permissions.Mgmt}}
  {{$layout := .Layout}}
  <div>
    <div id="message" class="alert"></div>
    <!-- Dennis Nedry Easter Egg -->
    <img id="gif" src="https://media.tenor.com/ttEnKdyDKKIAAAAC/jurassic-park-nedry-dennis.gif" style="display:none; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); z-index: 9999;">
    <h1>{{.Title}} - {{with $layout}}{{if eq $layout "receiving"}}Receiving{{else if eq $layout "mgmt"}}Management{{else if eq $layout "dataentry"}}Data Entry{{else if eq $layout "full"}}Full{{end}}{{end}}</h1>
    <div class="row" id="userTable">
      <div class="col-sm-12">
        <div>
          <table class="table table-striped table-hover table-responsive-stack" id="sorttable">
            <!-- Header -->
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
              <tr>
                <th scope="col">Request ID</th>
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry") (eq $layout "mgmt")}}<th scope="col">SKU</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Description</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Manufacturer Part</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry") (eq $layout "mgmt")}}<th scope="col">Pcs/Bag</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Weight Out</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full")}}<th scope="col">Weight In</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full")}}<th scope="col">Difference</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full")}}<th scope="col">%</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Units</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Hours</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Check Out</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Check In</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Sorter</th>{{end}}
                {{if or (eq $layout "full")}}<th scope="col">Status</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Priority</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<th scope="col" class="btn-col"></th>{{end}}
                {{if or (eq $layout "full") ($mgmt)}}<th scope="col" class="btn-col"></th>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<th scope="col" class="btn-col"></th>{{end}}
              </tr>
            </thead>
            <tbody>
              <!-- Search Form -->
              <form action="/sorting" method="GET">
              <tr>
                <td><input type="text" class="form-control" name="search-requestid" placeholder="Request ID"></td>
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td class="col-sku"><input type="text" class="form-control" name="search-sku" placeholder="SKU"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}<td><input type="text" class="form-control" name="search-description" placeholder="Description"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}<td><input type="text" class="form-control" name="search-manufacturerpart" placeholder="Manufacturer Part"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td><input type="text" class="form-control" name="search-instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}<td><input type="text" class="form-control" name="search-weightout" placeholder="Weight Out"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}<td><input type="text" class="form-control" name="search-weightin" placeholder="Weight In"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}<td>
                  <select class="form-select" name="search-difference">
                    <option value="">Difference</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}<td></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td><input type="text" class="form-control" name="search-pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Units"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td><input type="text" class="form-control" name="search-hours" placeholder="Hours"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<td><input type="text" class="form-control" name="search-checkout" placeholder="Check Out"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<td><input type="text" class="form-control" name="search-checkin" placeholder="Check In"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<td>
                  <select class="form-select" name="search-sorter">
                    <option value="">Sorter</option>
                    {{range $.Users}}
                    <option value="{{.Username}}">{{.Username}}</option>
                    {{end}}
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full")}}<td>
                  <select class="form-select" name="search-status">
                    <option value="">Status</option>
                    <option value="New">New</option>
                    <option value="Checkout">Checkout</option>
                    <option value="Checkin">Checkin</option>
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}
                <td>
                  <select class="form-select" name="search-priority">
                    <option value="">Priority</option>
                    <option value="0">Normal</option>
                    <option value="1">High</option>
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td class="btn-col"><input type=hidden name=layout id=layout value={{$layout}}><input type='submit' value='Search' class="btn btn-primary"></td>{{end}}
                {{if or (eq $layout "full") ($mgmt)}}<td class="btn-col"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td class="btn-col"></td>{{end}}
              </tr>  
            </form>
            {{if $admin}}  
            <!-- Insert New Form -->
            <form class="update-form" id="insert-form">
              <tr>
                <td></td>
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td class="col-sku"><input type="text" class="form-control sku" id="sku" name="sku" placeholder="SKU"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}<td><input type="text" class="form-control description" id="description" name="description" placeholder="Description"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}<td><input type="text" class="form-control manufacturerpart" id="manufacturerpart" name="manufacturerpart" placeholder="Manufacturer Part"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td><div class="input-group"><input type="text" class="form-control instructions" id="instructions" name="instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></div></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}<td><div class="input-group"><input type="text" class="form-control weightout" id="weightout" name="weightout" placeholder="Weight Out"></div></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}<td><div class="input-group"><input type="text" class="form-control weightin" id="weightin" name="weightin" placeholder="Weight In"></div></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}<td><div class="input-group"><input type="text" class="form-control difference" id="difference" name="difference" readonly placeholder="Difference"></div></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}<td></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td><div class="input-group"><input type="text" class="form-control pieces" id="pieces" name="pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></div></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td><input type="text" class="form-control hours" id="hours" name="hours" placeholder="Hours"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}} <td><input type="date" class="form-control checkout" id="checkout" name="checkout" placeholder="Checkout Date"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<td><input type="date" class="form-control checkin" id="checkin" name="checkin" placeholder="Checkin Date"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}
                <td>
                  <select class="form-select" id="sorter" name="sorter">
                    <option selected disabled value="">Sorter</option>
                    {{range $.Users}}
                    <option value='{{.Username}}'>{{.Username}}</option>
                    {{end}}
                    <option></option>
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full")}}
                <td>
                  <select class="form-select" id="status" name="status">
                    <option selected disabled value="">Status</option>
                    <option value="New">New</option>
                    <option value="Checkout">Checkout</option>
                    <option value="Checkin">Checkin</option>
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}
                <td>
                  <select class="form-select" id="prty" name="prty">
                    <option selected disabled value="">Priority</option>
                    <option value="0">Normal</option>
                    <option value="1">High</option>
                  </select>
                </td>
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td class="btn-col"><input type='hidden' id='requestid' name='requestid' value=''><input type='hidden' id='active' name='active' value='1'><input type='submit' value='Insert' class="btn btn-primary update-request"></td>{{end}}
                {{if or (eq $layout "full") ($mgmt)}}<td class="btn-col"></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td class="btn-col"></td>{{end}}
                </tr>
                </form>
                {{end}}
            <!-- Main Table -->
              {{range $index, $value := .SortRequests}}
              <form id="row{{$index}}" class="update-form">
                <tr {{if .Warn}} class="table-warning"{{end}}>
                  <td><input type="text" class="form-control requestid" id="requestid" name="requestid" value="{{.ID}}"></td>
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td class="col-sku"><input type="text" class="form-control sku" id="sku" name="sku" value="{{.SKU}}"></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}<td><input type="text" class="form-control description" id="description" name="description" value="{{.Description}}"></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "dataentry")}}<td><input type="text" class="form-control manufacturerpart" id="manufacturerpart" name="manufacturerpart" value="{{with .ManufacturerPart}}{{.}}{{end}}"></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td><div class="input-group"><input type="text" class="form-control instructions" id="instructions" name="instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" value="{{with .Instructions}}{{.}}{{end}}"></div></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}<td><div class="input-group"><input type="text" class="form-control weightout" id="weightout" name="weightout" value="{{.Weightout}}"></div></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}<td><div class="input-group"><input type="text" class="form-control weightin" id="weightin" name="weightin" value="{{.Weightin}}"></div></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}<td><div class="input-group"><input type="text" class="form-control difference" id="difference" name="difference" value="{{.Difference}}" readonly></div></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}<td><div class="input-group"><input type="text" class="form-control differencepercent" id="differencepercent" name="differencepercent" value="{{.DifferencePercent}}" readonly percent></div></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td><div class="input-group"><input type="text" class="form-control pieces" id="pieces" name="pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" value="{{with .Pieces}}{{.}}{{end}}"></div></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td><input type="text" class="form-control hours" id="hours" name="hours" value="{{with .Hours}}{{.}}{{end}}"></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}<td><input type="date" class="form-control checkout" id="checkout" name="checkout" value="{{ formatDate .Checkout}}"></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}<td><input type="date" class="form-control checkin" id="checkin" name="checkin" value="{{ formatDate .Checkin}}"></td>{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}
                  <td>
                    <select class="form-select" id="sorter" name="sorter">
                      <option selected disabled value> {{.Sorter}}</option>
                      {{range $.Users}}
                      <option value='{{.Username}}'>{{.Username}}</option>
                      {{end}}
                      <option></option>
                    </select>
                  </td>
                  {{end}}
                  {{if or (eq $layout "full")}}
                  <td>
                    {{if $admin}}
                    <select class="form-select" id="status" name="status">
                      <option value="New" {{if eq .Status "New"}}selected{{end}}>New</option>
                      <option value="Checkout" {{if eq .Status "Checkout"}}selected{{end}}>Checkout</option>
                      <option value="Checkin" {{if eq .Status "Checkin"}}selected{{end}}>Checkin</option>
                    </select>
                    {{else}}
                      <input class="form-control" type="text" id="status" name="status" value="{{.Status}}" readonly>
                    {{end}}
                  </td>
                  {{end}}
                  {{if or (eq $layout "full") (eq $layout "dataentry")}}
                  <td>
                    <select class="form-select" id="prty" name="prty">
                      <option value="0" {{if eq .Priority 0}}selected{{end}}>Normal</option>
                      <option value="1" {{if eq .Priority 1}}selected{{end}}>High</option>
                    </select>
                  </td>
                  {{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<td class="btn-col"><input type='hidden' id='active' name='active' value='1'><input type='submit' value='Update' class="btn btn-primary update-request"></td>{{end}}
                </form>
                {{if or (eq $layout "full") ($mgmt)}}<td class="btn-col"><button type="button" class="btn btn-danger archive-request" id="archiveRequest" name="archiveRequest" data-requestid="{{.ID}}">Archive</button></td>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<td class="btn-col"><button class="btn btn-warning error" id="error" name="error" data-requestid="{{.ID}}">Error</button></td>{{end}}
                </tr>
            {{end}}
            </tbody>
          </table>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  {{template "footer" .}}
  <script>
    //Dennis Nedry easter egg
    document.addEventListener("keydown", function(event) {
      if (event.ctrlKey && event.key === "m") {
        event.preventDefault(); // prevent browser default action
        var gif = document.getElementById("gif");
        if (gif.style.display === "block") {
          gif.style.display = "none";
        } else {
          gif.style.display = "block";
        }
      }
    });
  </script>
  <script>
    $(document).ready(function() {
      // Handle click event for Error button
      $('.error').on('click', function() {
        // Get the requestid from the data attribute
        var requestid = $(this).data('requestid');
  
        // Redirect to the '/sorterror' page with the 'requestid' parameter if it exists
        if (requestid) {
          console.log('Redirecting to /sorterror with requestid=' + requestid);
          window.location.href = '/sorterror?requestid=' + requestid;
        } else {
          console.log('Redirecting to /sorterror');
          window.location.href = '/sorterror';
        }
      }); // Add a closing parenthesis and semicolon here
    });
  </script>
  <script>
    document.querySelectorAll('form.update-form').forEach(form => {
      form.addEventListener('submit', e => {
        e.preventDefault();

        let formId = e.target.id;
        let form = document.getElementById(formId);
        let data = new FormData(form);

        console.log('Form data:', data);

        fetch('/sortingupdate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(Object.fromEntries(data))
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          console.log('Server response:', data);
          // Handle the response from the server
          let messageDiv = document.getElementById('message');
          if (data.Success) {
            messageDiv.style.display = 'block';
            messageDiv.classList.remove('alert-danger');
            messageDiv.classList.add('alert-success');
            messageDiv.innerText = data.Body;
            location.reload();
          } else {
            messageDiv.style.display = 'block';
            messageDiv.classList.remove('alert-success');
            messageDiv.classList.add('alert-danger');
            messageDiv.innerText = data.Body;
          }
          // Remove the message after 5 seconds
          setTimeout(() => {
            messageDiv.style.display = 'none';
          }, 5000);

          //for dynamic table reload, later:
  //         fetch('/sorting')
  // .then(response => {
  //   if (!response.ok) {
  //     throw new Error('Network response was not ok');
  //   }
  //   return response.text();
  // })
  // .then(data => {
  //   // Replace the table body with the updated data
  //   document.querySelector('#sorttable tbody').innerHTML = data;
  // })
  // .catch(error => {
  //   console.error('Error:', error);
  //   // Handle the error
  // });
        })
        .catch(error => {
          console.error('Error:', error);
          // Handle the error
        });
      });
    });
  </script>
  <script>
  $(document).ready(function() {
    // Handle click event for Archive button
    $('.archive-request').on('click', function() {
      // Get the user code from the data attribute
      var requestid = $(this).data('requestid');

      // Store a reference to the clicked button for later use
      var $clickedButton = $(this);

      // Show the modal dialogue
      $('#archiveRequestModal').modal('show');

      // Handle confirmation
      $('#confirmArchiveRequest').on('click', function() {
        // Make AJAX call to API endpoint
        console.log('Making AJAX call to API endpoint...');
        console.log('Request:',requestid)
        var requestData = {  
            requestid: requestid,
            active: 0
        }
        $.ajax({
          url: '/sortingupdate',
          method: 'POST',
          data: JSON.stringify(requestData),
          success: function(response) {
            console.log('AJAX call successful.');
            // Display success message
            $('#message').removeClass('alert-danger').addClass('alert-success').text(response);

            // Hide the modal dialogue
            $('#archiveRequestModal').modal('hide');

            // Reload the page
            location.reload();
          },
          error: function(xhr, status, error) {
            console.error('AJAX call failed:', error);
            // Display error message
            $('#message').removeClass('alert-success').addClass('alert-danger').text(xhr.responseText);

            // Hide the modal dialogue
            $('#archiveRequestModal').modal('hide');
          }
        });
      });
    });
  });
  </script>
  <!-- <script>
    $(document).ready(function() {   
      // inspired by http://jsfiddle.net/arunpjohny/564Lxosz/1/
      $('.table-responsive-stack').each(function (i) {
        var id = $(this).attr('id');
        //alert(id);
        $(this).find("th").each(function(i) {
            $('#'+id + ' td:nth-child(' + (i + 1) + ')').prepend('<span class="table-responsive-stack-thead">'+             $(this).text() + ':</span> ');
            $('.table-responsive-stack-thead').hide();
            
        });
      });

      $( '.table-responsive-stack' ).each(function() {
      var thCount = $(this).find("th").length; 
      var rowGrow = 100 / thCount + '%';
      //console.log(rowGrow);
      $(this).find("th, td").css('flex-basis', rowGrow);   
      });

      function flexTable(){
        const mediaQuery = window.matchMedia('(max-width: 1000px)')
      // if ($(window).width() < 768) {
        if (mediaQuery.matches) {
        
      $(".table-responsive-stack").each(function (i) {
        $(this).find(".table-responsive-stack-thead").show();
        $(this).find('thead').hide();
      });
      
      // window is less than 1000px   
      } else {
        
        
      $(".table-responsive-stack").each(function (i) {
        $(this).find(".table-responsive-stack-thead").hide();
        $(this).find('thead').show();
      });

      }
      // flextable   
      }      

      flexTable();

      window.onresize = function(event) {
      flexTable();
      };
      // document ready  
      });
  </script> -->
    <!-- Modal Dialogue -->
      <div class="modal fade" id="archiveRequestModal" tabindex="-1" role="dialog" aria-labelledby="archiveRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="archiveRequestModalLabel">Confirm Archive Request</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to archive this request?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" id="confirmArchiveRequest">Archive Request</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>