<html>
<head>
{{template "header"}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script> -->
<style>
  #message {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 999;
    }
    .table-responsive-stack tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }

    .table-responsive-stack td,
    .table-responsive-stack th {
      display:block;
    /*      
      flex-grow | flex-shrink | flex-basis   */
      -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .table-responsive-stack .table-responsive-stack-thead {
      font-weight: bold;
    }

    @media screen and (max-width: 768px) {
      .table-responsive-stack tr {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          border-bottom: 3px solid #ccc;
          display:block;
          
      }
      /*  IE9 FIX   */
      .table-responsive-stack td {
          float: left\9;
          width:100%;
      }
    }

    @media screen and (min-width: 768px) {
      /* Set the width of each column */
      th, td {
        width: 6.25%;
      }
    }
</style>
</head>
<body>
  {{template "navigation" .}}
  {{template "messagebox" .}}
  {{$permission := .Permission.Role}}
  {{$user := .Permission.Username}}
  {{$date := .Date}}
  {{template "toastBox" .}}
  {{template "pageControls" .}}
  <div id="message" class="alert"></div>
  <h1>{{.Title}}</h1>
        <!-- Checkout Table -->
        <table class="table table-striped table-hover">
          <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
            <tr>
                {{if eq $permission "admin"}}<th scope="col" width=70px>ID</th>{{end}}
                <th scope="col" width="100px">Priority</th>
                <th scope="col" width="120px">SKU</th>
                <th scope="col" width=220px>Description</th>
                <th scope="col">Pcs/Bag</th>
                {{if eq $permission "receiving"}}<th scope="col" width=60px>Weight Out</th>{{end}}
                {{if eq $permission "admin"}}<th scope="col" width=100px>Checkout</th>{{end}}
                {{if eq $permission "admin"}}<th scope="col" width=90px>Sorter</th>{{end}}
                <th width=80px></th>
            </tr>
        </thead>
        <tbody>
          {{range $index, $value := .SortRequests}}
          <tr>
            <form id="row{{$index}}" class="update-form">
            <input type="hidden" name="status" id="status" value="Checkout">
            {{if eq $permission "admin"}}<td><input class="form-control" type="text" id="requestid" name="requestid" value="{{.ID}}" readonly></td>{{else}}<input class="form-control" type="hidden" id="requestid" name="requestid" value="{{.ID}}" readonly>{{end}}
            <td>
              <select class="form-select" name="prty" id="prty" readonly>
                <option value="0" {{if eq .Priority 0}}selected{{end}} >Normal</option>
                <option value="1" {{if eq .Priority 1}}selected{{end}} >High</option>
              </select>
            </td>
            <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}"readonly></td>
            <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"readonly></td>
            <td><input class="form-control" type='text' id="instructions" name="instructions" value="{{.Instructions}}" readonly></td>
            {{if eq $permission "receiving"}}<td><input class="form-control" type='text' id="weightout" name="weightout" value="{{.Weightout}}" readonly></td>{{end}}
            {{if eq $permission "admin"}}<td>{{end}}
              <input class="form-control" {{if eq $permission "admin"}}type='date'{{else}}type='hidden'{{end}} id="checkout" name="checkout" value="{{$date}}" {{if ne $permission "admin"}}readonly{{end}}>
            {{if eq $permission "admin"}}</td>{{end}}
            {{if eq $permission "admin"}}
              <td>
                <select class="form-select" id="sorter" name="sorter">
                  <option selected disabled value> {{.Sorter}}</option>
                  {{range $.Users}}
                  <option value='{{.Username}}'>{{.Username}}</option>
                  {{end}}
                </select>
              </td>
            {{else}}
              <input type="hidden" id="sorter" name="sorter" value="{{$user}}">
            {{end}}
            <td><input type='submit' value='Checkout' class="btn btn-primary"></td>
            </form>
          </tr>
          {{end}}
        </tbody>
        </table>
      <br>
      <br>
      <br>
        <!-- End Checkout Table -->
{{template "footer" .}}
{{template "toast" .}}
{{template "nedry" .}}
{{template "updateSortTable" .}}
{{template "spinner" .}}
<script>
  document.querySelectorAll('form.update-form').forEach(form => {
    form.addEventListener('submit', e => {
      e.preventDefault();

      let formId = e.target.id;
      let form = document.getElementById(formId);
      let data = new FormData(form);

      console.log('Form data:', data);

      fetch('/sortingupdate', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(Object.fromEntries(data))
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Server response:', data);
        // Handle the response from the server
        let messageDiv = document.getElementById('message');
        if (data.Success) {
          messageDiv.style.display = 'block';
          messageDiv.classList.remove('alert-danger');
          messageDiv.classList.add('alert-success');
          messageDiv.innerText = data.Body;
          location.reload();
        } else {
          messageDiv.style.display = 'block';
          messageDiv.classList.remove('alert-success');
          messageDiv.classList.add('alert-danger');
          messageDiv.innerText = data.Body;
        }
        // Remove the message after 5 seconds
        setTimeout(() => {
          messageDiv.style.display = 'none';
        }, 5000);
              })
              .catch(error => {
                console.error('Error:', error);
                // Handle the error
              });
            });
          });
        </script>
</body>
</html>

{{define "updateSortTable"}}
{{$permission := .Permission.Role}}
{{$layout := .Layout}}
{{$admin := .Permission.Permissions.Admin}}
{{$mgmt := .Permission.Permissions.Mgmt}}
<script>
  function formatDateForDatePicker(dateString) {
    if (!dateString) return ""; // Handle null or undefined dates
    const date = new Date(dateString); // Convert ISO string to a Date object
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0'); // Month is zero-based
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`; // Return in YYYY-MM-DD format
}
</script>
<script>
    // Fetch users
    async function fetchUsers() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/api-handler?targetAPI=/api/users?limit=100&sorting=1&active=1', // Using the users API endpoint
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    console.log("Users fetched successfully. Data:", response);
                    // Assuming `response` includes a property `users` which is an array of user objects
                    const usernames = response.users.map(user => user.Username); // Extract usernames
                    resolve(usernames); // Resolve the promise with the array of usernames
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching users:", textStatus, errorThrown, jqXHR);
                    let errorMessage = "Error fetching users.";
                    
                    if (jqXHR.responseText) {
                        try {
                            let resp = JSON.parse(jqXHR.responseText);
                            if (resp && resp.error) {
                                errorMessage = resp.error;
                            }
                        } catch (e) {
                            console.error("Error parsing server response:", e);
                        }
                    }
                    reject(errorMessage); // Reject the promise with the error message
                }
            });
        });
    }
</script>
<script>
    async function fetchAndUpdateTable(currentPage, limit,searchParams = {}) {
        // Get Users Data
        try {
            console.log("Fetching users...");
            const users = await fetchUsers(); // Wait for users to be fetched
            console.log("Users fetched:", users);

            // Construct the query string from search parameters
            var limit = $('#limitSelect').val();
            var queryParams = $.param(searchParams); // Convert search parameters to query string
            var apiUrl = `/api-handler?targetAPI=/api/sortinglist&page=${currentPage}&limit=${limit}{{if eq $layout "receiving"}}&search-checkin=NOT_NULL{{end}}&${queryParams}`;
            console.log("Fetching data with search parameters:", searchParams);

            console.log("Fetching data from " + apiUrl);

            apicall(apiUrl, users);
        } catch (error) {
            console.error("Error in fetching users:", error);
            showToast(error,"error")
            // Handle the error
        }
    }

    function updateTable(response,users) {
        var tableBody = $('#contentTableBody');
        tableBody.empty(); // Clear existing data

        // Add the insert row at the beginning
        var insertRow = GenerateTopRow(users);
        tableBody.append(insertRow);

        // Loop through the rows
        response.sortRequests.forEach(function(sortRequest) {
        // Format the Checkin date for the date picker
        if (sortRequest.Checkin) {
            sortRequest.Checkin = formatDateForDatePicker(sortRequest.Checkin);
        }
        if (sortRequest.Checkout) {
            sortRequest.Checkout = formatDateForDatePicker(sortRequest.Checkout);
        }
            var row = generateTableRow(sortRequest,users);
            tableBody.append(row);
        });
    }

    function GenerateTopRow(users) {
        console.log("Generating Search Row")

        // Manufacturer dropdown options
        var userOptions = '<option value="" selected>Select Sorter</option>';
        users.forEach(function(user) {
            userOptions += `<option value="${user}">${user}</option>`;
        });
        
        // Generate the Search Row
        var rowHtml = `
            <tr>
                <td><input type="text" class="form-control" name="search-requestid" placeholder="Request ID"></td>`;
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="col-sku"><input type="text" class="form-control" name="search-sku" placeholder="SKU"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control" name="search-description" placeholder="Description"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control" name="search-manufacturerpart" placeholder="Manufacturer Part"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control" name="search-weightout" placeholder="Weight Out"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><input type="text" class="form-control" name="search-weightin" placeholder="Weight In"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}
                rowHtml += `<td>
                    <select class="form-select" name="search-difference">
                        <option value="">Difference</option>
                        <option value="positive">Positive</option>
                        <option value="negative">Negative</option>
                    </select>
                    </td>`;
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Units"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-hours" placeholder="Hours"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-checkout" placeholder="Check Out"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-checkin" placeholder="Check In"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}
                    rowHtml += `<td>
                        <select class="form-select" name="search-sorter">
                            ${userOptions}
                        </select>
                    </td>`;
                {{end}}
                {{if or (eq $layout "full")}}
                    rowHtml += `<td>
                        <select class="form-select" name="search-status">
                            <option value="">Status</option>
                            <option value="New">New</option>
                            <option value="Checkout">Checkout</option>
                            <option value="Checkin">Checkin</option>
                        </select>
                    </td>`;
                {{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}
                rowHtml += `<td>
                  <select class="form-select" name="search-priority">
                    <option value="">Priority</option>
                    <option value="0">Normal</option>
                    <option value="1">High</option>
                  </select>
                </td>`;
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><input type=hidden name=layout id=layout><input type='submit' value='Search' class="btn btn-primary"></td>`;{{end}}
                {{if or (eq $layout "full") ($mgmt)}}rowHtml += `<td class="btn-col"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"></td>`{{end}}
                rowHtml += `</tr>`;

                // Generate the Insert row
                rowHtml += `<tr>
                <td></td>`
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="col-sku"><input type="text" class="form-control sku" id="sku" name="sku" placeholder="SKU"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control description" id="description" name="description" placeholder="Description"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control manufacturerpart" id="manufacturerpart" name="manufacturerpart" placeholder="Manufacturer Part"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control instructions" id="instructions" name="instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightout" id="weightout" name="weightout" placeholder="Weight Out"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightin" id="weightin" name="weightin" placeholder="Weight In"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control difference" id="difference" name="difference" readonly placeholder="Difference"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control pieces" id="pieces" name="pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control hours" id="hours" name="hours" placeholder="Hours"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkout" id="checkout" name="checkout" placeholder="Checkout Date"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkin" id="checkin" name="checkin" placeholder="Checkin Date"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}
                rowHtml += `<td>
                  <select class="form-select" id="sorter" name="sorter">
                            ${userOptions}
                  </select>
                </td>`
                {{end}}
                {{if or (eq $layout "full")}}
                rowHtml += `<td>
                  <select class="form-select" id="status" name="status">
                    <option selected disabled value="">Status</option>
                    <option value="New">New</option>
                    <option value="Checkout">Checkout</option>
                    <option value="Checkin">Checkin</option>
                  </select>
                </td>`
                {{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}
                rowHtml += `<td>
                  <select class="form-select" id="prty" name="prty">
                    <option selected disabled value="">Priority</option>
                    <option value="0">Normal</option>
                    <option value="1">High</option>
                  </select>
                </td>`
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><input type='hidden' id='requestid' name='requestid' value=''><input type='hidden' id='active' name='active' value='1'><input type='submit' value='Insert' class="btn btn-primary update-request"></td>`{{end}}
                {{if or (eq $layout "full") ($mgmt)}}rowHtml += `<td class="btn-col"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"></td>`{{end}}
                rowHtml += `</tr>`
        return rowHtml;
    }

    function generateTableRow(sortRequest, users) {
        //Strip percentage from percent
        let differencePercent = parseFloat(sortRequest.DifferencePercent.replace('%', ''));

        // Check if the absolute value is greater than 10
        let rowClass = '';
        if (Math.abs(differencePercent) > 20) {
            rowClass = 'table-danger';
        } else if (Math.abs(differencePercent) > 10) {
            rowClass = 'table-warning';
        }
        
        // Manufacturer dropdown options
        var userOptions = '<option value="" selected>Select Sorter</option>';
        users.forEach(function(user) {
            userOptions += `<option value="${user}" ${sortRequest.Sorter === user ? 'selected' : ''}>${user}</option>`;
        });
        // Constructing the row HTML
        var rowHtml = `<tr class="${rowClass}">`
            rowHtml += `<td><input type="text" class="form-control requestid" id="requestid" name="requestid" value="${sortRequest.ID}" readonly></td>`
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="col-sku"><input type="text" class="form-control sku" id="sku" name="sku" value="${sortRequest.SKU}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control description" id="description" name="description" value="${sortRequest.Description}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control manufacturerpart" id="manufacturerpart" name="manufacturerpart" value="${sortRequest.ManufacturerPart}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control instructions" id="instructions" name="instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" value="${sortRequest.Instructions}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightout" id="weightout" name="weightout" value="${sortRequest.Weightout}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightin" id="weightin" name="weightin" value="${sortRequest.Weightin}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control difference" id="difference" name="difference" value="${sortRequest.Difference}" readonly></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control differencepercent" id="differencepercent" name="differencepercent" value="${sortRequest.DifferencePercent}" readonly percent></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control pieces" id="pieces" name="pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" value="${sortRequest.Pieces}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control hours" id="hours" name="hours" value="${sortRequest.Hours}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkout" id="checkout" name="checkout" value="${sortRequest.Checkout}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkin" id="checkin" name="checkin" value="${sortRequest.Checkin}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}
                  rowHtml += `<td>
                    <select class="form-select" id="sorter" name="sorter">
                            ${userOptions}
                    </select>
                  </td>`
                  {{end}}
                  {{if or (eq $layout "full")}}
                  rowHtml += `<td>`
                    {{if $admin}}
                    rowHtml += `<select class="form-select" id="status" name="status">
                      <option value="New" ${sortRequest.Status === "New" ? 'selected' : ''}>New</option>
                      <option value="Checkout" ${sortRequest.Status === "Checkout" ? 'selected' : ''}>Checkout</option>
                      <option value="Checkin" ${sortRequest.Status === "Checkin" ? 'selected' : ''}>Checkin</option>
                    </select>`
                    {{else}}
                      `<input class="form-control" type="text" id="status" name="status" value="${sortRequest.Status}" readonly>`
                      {{end}}
                  rowHtml += `</td>`
                  {{end}}
                  {{if or (eq $layout "full") (eq $layout "dataentry")}}
                  rowHtml += `<td>
                    <select class="form-select" id="prty" name="prty">
                      <option value="0">Normal</option>
                      <option value="1">High</option>
                    </select>
                  </td>`
                  {{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><input type='hidden' id='active' name='active' value='1'><input type='submit' value='Update' class="btn btn-primary update-request"></td>`{{end}}
                {{if or (eq $layout "full") ($mgmt)}}rowHtml += `<td class="btn-col"><button type="button" class="btn btn-danger archive-request" data-bs-toggle="modal" data-bs-target="#archiveRequestModal" data-requestid="${sortRequest.ID}">Archive</button></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><a href="/sorterror?requestid=${sortRequest.ID}" class="btn btn-warning error" id="error" name="error" data-requestid="">Error</a></td>`{{end}}
                rowHtml += `</tr>`;
        return rowHtml;
    }
</script>
{{end}}