<html>
<head>
{{template "header"}}
</head>
<body>
{{template "navigation" .}}
{{$permission := .Permission.Role}}
<br>
    {{template "toastBox" .}}
    {{template "modalDelete" .}}
    {{template "pageControls" .}}
      
        <!-- Main Table -->
        <table class="table table-striped table-hover">
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th scope="col">Customer Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Rebill Day</th>
                    <th scope="col">Rebill Months</th>
                    <th scope="col">Auto Renew</th>
                    <th scope="col">Cratejoy Status</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Mailchimp Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="contentTableBody">
            </tbody>
        </table>

        <script>
            // Setup Page Variables
            var currentPage = 1; // keep track of the current page
            var totalPages = 0; // total number of pages, you might get this from the server
            var limit = 50;
            $('#limitSelect').val(limit);
            var searchParams = {}; //set initial search parameters
            $(document).ready(function() {
                console.log("Document ready. Initializing table data fetch.");

                // Call the function with page number, limit, and any search parameters
                fetchAndUpdateTable(currentPage, limit, {cratejoy_status: "active"});
          });
      </script>
      {{template "toast" .}}
      {{template "updateCustomerTable" .}}
      {{template "searchCustomerRow" .}}
      {{template "btnSearch" .}}
      {{template "nedry" .}}
      {{template "spinner" .}}
      
  {{template "footer" .}}
</body>
</html>