<html>
<head>
{{template "header"}}
</head>
<body>
{{template "navigation" .}}
{{$permission := .Permission.Role}}
{{$layout := .Layout}}
<br>
    {{template "toastBox" .}}
    {{template "modalImage" .}}
    {{template "modalDelete" .}}
    {{template "pageControls" .}}
        <!-- Main Table -->
        <table class="table table-striped table-hover">
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th></th>
                    <th scope="col">SKU</th>
                    <th scope="col">Manufacturer Part #</th>
                    <th scope="col">Product Option</th>
                    {{if eq $permission "admin"}}<th scope="col">Manufacturer</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Processing Request</th>{{end}}
                    <th scope="col">Unit</th>
                    {{if eq $permission "admin"}}<th scope="col">Unit Price</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Currency</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Order Qty</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Reorder</th>{{end}}
                    <th scope="col">Season</th>
                    <th scope="col">Inventory</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contentTableBody">
            </tbody>
        </table>

        <script>
            // Setup Page Variables
            var currentPage = 1; // keep track of the current page
            var totalPages = 0; // total number of pages, you might get this from the server
            var limit = 100; // set page size limit
            $('#limitSelect').val(limit);
            var searchParams = {}; //set initial search parameters
            $(document).ready(function() {
                console.log("Document ready. Initializing table data fetch.")
                fetchAndUpdateTable(currentPage,limit, searchParams);

                // Event handler for image clicks
                $(document).on('click', '.image-link', function() {
                    var standardUrl = $(this).data('standard-url');
                    var sku = $(this).data('sku');

                    $('#imageModalLabel').text(sku);
                    $('#modalImage').attr('src', standardUrl);
                    $('#imageModal').modal('show');
                });
            });
      </script>
      {{template "toast" .}}
      {{template "fetchmanufacturers" .}}
      {{template "updateTable" .}}
      {{template "apicall" .}}
      {{if eq $layout "products"}}{{template "searchProductRow" .}}{{template "btnSearch" .}}{{end}}
      {{if eq $layout "insert"}}{{template "insertProductRow" .}}{{end}}
      {{template "tableProductRow" .}}
      {{template "btninsertProduct" .}}
      {{template "btnupdateProduct" .}}
      {{template "btnDeleteSKU" .}}
      {{template "nedry" .}}
      {{template "spinner" .}}
      
  {{template "footer" .}}
</body>
</html>

{{define "tableProductRow"}}
{{$permission := .Permission.Role}}
<script>
    function generateTableRow(item, index, manufacturers, currencies, seasons) {
        // console.log("Processing item:", index, item);
        //create a map of acceptable currencies and select the correct one
        var currencyOptions = currencies.map(function(currency) {
            return `<option value="${currency}" ${currency === item.Currency ? 'selected' : ''}>${currency}</option>`;
        }).join('');

        //Create a map of all manufacturers
        var manufacturerOptions = manufacturers.map(function(manufacturer) {
            return `<option value="${manufacturer.name}" ${manufacturer.name === item.Manufacturer ? 'selected' : ''}>${manufacturer.name}</option>`;
        }).join('');
        
        // Season dropdown options
        let seasonOptions = `<option value="" ${!seasons.includes(item.Season) ? 'selected' : ''}></option>` +
            seasons.map(season => {
                return `<option value="${season}" ${item.Season === season ? 'selected' : ''}>${season}</option>`;
            }).join('');


        var row = `<tr>
                    <td><a role="button" class="image-link" data-standard-url="${item.Image.url_standard}" data-sku="${item.SKU}"><img class="img-rounded" data-bs-toggle="modal" data-bs-target="#ModalImage0" src="${item.Image.url_tiny}" height="45px"></a></td>
                    <td><input class="form-control" type='text' id="sku" name="sku" value="${item.SKU}"></td>
                    <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart" value="${item.ManufacturerPart}"></td>
                    <td><input class="form-control" type='text' id="description" name="description" value="${item.Description}"></td>
                    {{if eq $permission "admin"}}<td><select class="form-select" id="manufacturer" name="manufacturer">${manufacturerOptions}</select></td>{{end}}
                    {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="processrequest" name="processrequest" value="${item.ProcessRequest}"></td>{{end}}
                    <td><input class="form-control" type='text' id="unit" name="unit" value="${item.Unit}"></td>
                    {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="unitprice" name="unitprice" value="${item.UnitPrice}"></td>{{end}}
                    {{if eq $permission "admin"}}<td><select class="form-select" id="currency" name="currency">${currencyOptions}</select></td>{{end}}
                    {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="orderqty" name="orderqty" value="${item.OrderQty}"></td>{{end}}
                    {{if eq $permission "admin"}}<td><input class="form-check-input" type='checkbox' id="reorder" name="reorder" ${item.Reorder ? 'checked' : ''}></td>{{end}}
                    <td><select class="form-select" id="season" name="season">${seasonOptions}</select></td>
                    <td><input class="form-control" type='text' id="inventoryqty" name="inventoryqty" value="${item.InventoryQty}"></td>
                    <td><input type='button' value='Update' class='btn btn-primary update-button' data-item-id='${item.SKU}'></td>
                    <td><button type="button" class="btn btn-danger delete-button" data-item-id="${item.SKU}" data-bs-toggle="modal">Delete</button></td>
                    </tr>`;
        return row
    }
</script>
{{end}}

{{define "btnupdateProduct"}}
<script>
    // Event listener for the update button click
    $('#contentTableBody').on('click', '.update-button', function() {
        var row = $(this).closest('tr');
        var sku = $(this).data('item-id');

        var updatedProductData = {
            SKU: sku,
            ManufacturerPart: row.find('[name="manufacturerpart"]').val(),
            Description: row.find('[name="description"]').val(),
            Manufacturer: row.find('[name="manufacturer"]').val(),
            ProcessRequest: row.find('[name="processrequest"]').val(),
            Unit: row.find('[name="unit"]').val(),
            UnitPrice: parseFloat(row.find('[name="unitprice"]').val()),
            OrderQty: parseInt(row.find('[name="orderqty"]').val(), 10),
            Reorder: row.find('[name="reorder"]').is(':checked'),
            Season: row.find('[name="season"]').val(),
            InventoryQty: parseInt(row.find('[name="inventoryqty"]').val(), 10),
            Currency: row.find('[name="currency"]').val()
        };

        console.log("Preparing to update product:", updatedProductData);

        // AJAX call to update the product
        $.ajax({
            url: '/api-handler?targetAPI=/api/productupdate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(updatedProductData),
            success: function(response) {
                console.log("Product updated successfully:", response);
                showToast("SKU updated successfully.", "info");
                fetchAndUpdateTable(); //update the table
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            }
        });
    });
</script>
{{end}}

{{define "btnDeleteSKU"}}
<script>
    var currentItemToDelete; // Global variable to store the current item to delete

    // Event handler for delete button clicks
    $(document).on('click', '.delete-button', function() {
        var itemId = $(this).data('item-id');
        currentItemToDelete = itemId;

        // Show the delete modal
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        $('#deleteItemID').text(itemId);
        $('#deleteModalLabel').text("Confirm Delete");
        $('#deleteModalText').text("Are you sure you want to delete the item with SKU: ");
            deleteModal.show();
    });

    // Event handler for the confirm delete action
    $('#confirmDelete').click(function() {
        console.log("Initiating delete request for item:", currentItemToDelete);

        $.ajax({
            url: '/api-handler?targetAPI=/api/productdelete',
            type: 'POST',
            contentType: 'application/json',  // Ensure JSON content type
            dataType: 'json',
            data: JSON.stringify({ sku: currentItemToDelete }), // Convert data to JSON string
            success: function(response) {
                console.log("Item deleted successfully:", response);
                showToast("SKU deleted successfully.", "info");
                fetchAndUpdateTable();  // Refresh the table data
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error during the request:", textStatus, errorThrown, jqXHR);
                var errorMessage = "Error during the request.";
                
                // Try to parse and use the custom error message from the server if available
                if (jqXHR.responseText) {
                    try {
                        var resp = JSON.parse(jqXHR.responseText);
                        if (resp && resp.error) {
                            errorMessage = resp.error;
                        }
                    } catch (e) {
                        console.error("Error parsing server response:", e);
                    }
                }
                showToast(errorMessage, "error");  // Show the custom error message
            },
            beforeSend: function() {
                console.log("Sending delete request to /api/productdelete.");
            },
            complete: function(jqXHR, textStatus) {
                console.log("Delete request completed with status:", textStatus);
                $('#deleteModal').modal('hide'); // Hide the modal after completion
            }
        });
    });
</script>
{{end}}
