<html>
<head>
{{template "header"}}
</head>
<body>
{{template "navigation" .}}
{{$permission := .Permission.Role}}
{{$layout := .Layout}}
<br>
    {{template "toastBox" .}}
    {{template "modalImage" .}}
    {{template "modalDelete" .}}
    {{template "pageControls" .}}
        <!-- Main Table -->
        <table class="table table-striped table-hover">
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th></th>
                    <th scope="col">SKU</th>
                    <th scope="col">Manufacturer Part #</th>
                    <th scope="col">Product Option</th>
                    {{if eq $permission "admin"}}<th scope="col">Manufacturer</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Processing Request</th>{{end}}
                    <th scope="col">Unit</th>
                    {{if eq $permission "admin"}}<th scope="col">Unit Price</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Currency</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Order Qty</th>{{end}}
                    {{if eq $permission "admin"}}<th scope="col">Reorder</th>{{end}}
                    <th scope="col">Season</th>
                    <th scope="col">Inventory</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contentTableBody">
            </tbody>
        </table>

        <script>
            // Setup Page Variables
            var currentPage = 1; // keep track of the current page
            var totalPages = 0; // total number of pages, you might get this from the server
            var limit = 100; // set page size limit
            $('#limitSelect').val(limit);
            var searchParams = {}; //set initial search parameters
            $(document).ready(function() {
                console.log("Document ready. Initializing table data fetch.")
                fetchAndUpdateTable(currentPage,limit, searchParams);

                // Event handler for image clicks
                $(document).on('click', '.image-link', function() {
                    var standardUrl = $(this).data('standard-url');
                    var sku = $(this).data('sku');

                    $('#imageModalLabel').text(sku);
                    $('#modalImage').attr('src', standardUrl);
                    $('#imageModal').modal('show');
                });
            });
      </script>
      {{template "toast" .}}
      {{template "fetchmanufacturers" .}}
      {{template "updateTable" .}}
      {{template "apicall" .}}
      {{if eq $layout "products"}}{{template "searchProductRow" .}}{{template "btnSearch" .}}{{end}}
      {{if eq $layout "insert"}}{{template "insertProductRow" .}}{{end}}
      {{template "tableProductRow" .}}
      {{template "btninsertProduct" .}}
      {{template "btnupdateProduct" .}}
      {{template "btnDeleteSKU" .}}
      {{template "nedry" .}}
      {{template "spinner" .}}
      
  {{template "footer" .}}
</body>
</html>