<html>
<head>
  {{template "header"}}
  <title>{{.Title}}</title>
  
</head>
<body>
  {{template "navigation" .}}
  {{$permission := .Permission.Role}}
  {{$admin := .Permission.Permissions.Admin}}
  {{$mgmt := .Permission.Permissions.Mgmt}}
  {{$layout := .Layout}}
  {{template "toastBox" .}}
  {{template "pageControls" .}}
  {{template "toastBox" .}}

    <h1>{{.Title}} - {{with $layout}}{{if eq $layout "receiving"}}Receiving{{else if eq $layout "mgmt"}}Management{{else if eq $layout "dataentry"}}Data Entry{{else if eq $layout "full"}}Full{{end}}{{end}}</h1>
    <div class="row" id="userTable">
      <div class="col-sm-12">
        <div>
          <table class="table table-striped table-hover table-responsive-stack" id="sorttable">
            <!-- Header -->
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
              <tr>
                <th scope="col">Request ID</th>
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry") (eq $layout "mgmt")}}<th scope="col">SKU</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Description</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Manufacturer Part</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry") (eq $layout "mgmt")}}<th scope="col">Pcs/Bag</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Weight Out</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full")}}<th scope="col">Weight In</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full")}}<th scope="col">Difference</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full")}}<th scope="col">%</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Units</th>{{end}}
                {{if or (eq $layout "receiving") (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Hours</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Check Out</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Check In</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col">Sorter</th>{{end}}
                {{if or (eq $layout "full")}}<th scope="col">Status</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}<th scope="col">Priority</th>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}<th scope="col" class="btn-col"></th>{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}<th scope="col" class="btn-col"></th>{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}<th scope="col" class="btn-col"></th>{{end}}
              </tr>
            </thead>
            <tbody id="contentTableBody">
            </tbody>
          </table>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  {{template "footer" .}}
  {{template "toast" .}}
  {{template "apicall" .}}
  {{template "nedry" .}}
  {{template "updateSortTable" .}}
  {{template "spinner" .}}
  <script>
      // Setup Page Variables
      var currentPage = 1; // keep track of the current page
      var totalPages = 0; // total number of pages, you might get this from the server
      var limit = 100; // set page size limit
      $('#limitSelect').val(limit);
      var searchParams = {}; //set initial search parameters
      $(document).ready(function() {
          console.log("Document ready. Initializing table data fetch.")
          fetchAndUpdateTable(currentPage,limit, searchParams);

          // Event handler for image clicks
          $(document).on('click', '.image-link', function() {
              var standardUrl = $(this).data('standard-url');
              var sku = $(this).data('sku');

              $('#imageModalLabel').text(sku);
              $('#modalImage').attr('src', standardUrl);
              $('#imageModal').modal('show');
          });
      });
  </script>

    <!-- Modal Dialogue -->
      <div class="modal fade" id="archiveRequestModal" tabindex="-1" role="dialog" aria-labelledby="archiveRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="archiveRequestModalLabel">Confirm Archive Request</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to archive this request?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" id="confirmArchiveRequest">Archive Request</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>

{{define "updateSortTable"}}
{{$permission := .Permission.Role}}
{{$layout := .Layout}}
{{$admin := .Permission.Permissions.Admin}}
{{$mgmt := .Permission.Permissions.Mgmt}}
<script>
    // Fetch users
    async function fetchUsers() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/api-handler?targetAPI=/api/users?limit=100&sorting=1&active=1', // Using the users API endpoint
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    console.log("Users fetched successfully. Data:", response);
                    // Assuming `response` includes a property `users` which is an array of user objects
                    const usernames = response.users.map(user => user.Username); // Extract usernames
                    resolve(usernames); // Resolve the promise with the array of usernames
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching users:", textStatus, errorThrown, jqXHR);
                    let errorMessage = "Error fetching users.";
                    
                    if (jqXHR.responseText) {
                        try {
                            let resp = JSON.parse(jqXHR.responseText);
                            if (resp && resp.error) {
                                errorMessage = resp.error;
                            }
                        } catch (e) {
                            console.error("Error parsing server response:", e);
                        }
                    }
                    reject(errorMessage); // Reject the promise with the error message
                }
            });
        });
    }
</script>
<script>
    async function fetchAndUpdateTable(currentPage, limit,searchParams = {}) {
        // Get Users Data
        try {
            console.log("Fetching users...");
            const users = await fetchUsers(); // Wait for users to be fetched
            console.log("Users fetched:", users);

            // Construct the query string from search parameters
            var limit = $('#limitSelect').val();
            var queryParams = $.param(searchParams); // Convert search parameters to query string
            var apiUrl = `/api-handler?targetAPI=/api/sortinglist&page=${currentPage}&limit=${limit}{{if eq $layout "receiving"}}&search-checkin=NOT_NULL{{end}}&${queryParams}`;
            console.log("Fetching data with search parameters:", searchParams);

            console.log("Fetching data from " + apiUrl);

            apicall(apiUrl, users);
        } catch (error) {
            console.error("Error in fetching users:", error);
            showToast(error,"error")
            // Handle the error
        }
    }

    function updateTable(response,users) {
        var tableBody = $('#contentTableBody');
        tableBody.empty(); // Clear existing data

        // Add the insert row at the beginning
        var insertRow = GenerateTopRow(users);
        tableBody.append(insertRow);

        // Loop through the rows
        response.sortRequests.forEach(function(sortRequest) {
            var row = generateTableRow(sortRequest,users);
            tableBody.append(row);
        });
    }

    function GenerateTopRow(users) {
        console.log("Generating Search Row")

        // Manufacturer dropdown options
        var userOptions = '<option value="" selected>Select Sorter</option>';
        users.forEach(function(user) {
            userOptions += `<option value="${user}">${user}</option>`;
        });
        
        // Generate the Search Row
        var rowHtml = `
            <tr>
                <td><input type="text" class="form-control" name="search-requestid" placeholder="Request ID"></td>`;
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="col-sku"><input type="text" class="form-control" name="search-sku" placeholder="SKU"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control" name="search-description" placeholder="Description"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control" name="search-manufacturerpart" placeholder="Manufacturer Part"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control" name="search-weightout" placeholder="Weight Out"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><input type="text" class="form-control" name="search-weightin" placeholder="Weight In"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}
                rowHtml += `<td>
                    <select class="form-select" name="search-difference">
                        <option value="">Difference</option>
                        <option value="positive">Positive</option>
                        <option value="negative">Negative</option>
                    </select>
                    </td>`;
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Units"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-hours" placeholder="Hours"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-checkout" placeholder="Check Out"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control" name="search-checkin" placeholder="Check In"></td>`;{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}
                    rowHtml += `<td>
                        <select class="form-select" name="search-sorter">
                            ${userOptions}
                        </select>
                    </td>`;
                {{end}}
                {{if or (eq $layout "full")}}
                    rowHtml += `<td>
                        <select class="form-select" name="search-status">
                            <option value="">Status</option>
                            <option value="New">New</option>
                            <option value="Checkout">Checkout</option>
                            <option value="Checkin">Checkin</option>
                        </select>
                    </td>`;
                {{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}
                rowHtml += `<td>
                  <select class="form-select" name="search-priority">
                    <option value="">Priority</option>
                    <option value="0">Normal</option>
                    <option value="1">High</option>
                  </select>
                </td>`;
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><input type=hidden name=layout id=layout><input type='submit' value='Search' class="btn btn-primary"></td>`;{{end}}
                {{if or (eq $layout "full") ($mgmt)}}rowHtml += `<td class="btn-col"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"></td>`{{end}}
                rowHtml += `</tr>`;

                // Generate the Insert row
                rowHtml += `<tr>
                <td></td>`
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="col-sku"><input type="text" class="form-control sku" id="sku" name="sku" placeholder="SKU"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control description" id="description" name="description" placeholder="Description"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control manufacturerpart" id="manufacturerpart" name="manufacturerpart" placeholder="Manufacturer Part"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control instructions" id="instructions" name="instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightout" id="weightout" name="weightout" placeholder="Weight Out"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightin" id="weightin" name="weightin" placeholder="Weight In"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control difference" id="difference" name="difference" readonly placeholder="Difference"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control pieces" id="pieces" name="pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" placeholder="Pieces"></div></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control hours" id="hours" name="hours" placeholder="Hours"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkout" id="checkout" name="checkout" placeholder="Checkout Date"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkin" id="checkin" name="checkin" placeholder="Checkin Date"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "mgmt")}}
                rowHtml += `<td>
                  <select class="form-select" id="sorter" name="sorter">
                            ${userOptions}
                  </select>
                </td>`
                {{end}}
                {{if or (eq $layout "full")}}
                rowHtml += `<td>
                  <select class="form-select" id="status" name="status">
                    <option selected disabled value="">Status</option>
                    <option value="New">New</option>
                    <option value="Checkout">Checkout</option>
                    <option value="Checkin">Checkin</option>
                  </select>
                </td>`
                {{end}}
                {{if or (eq $layout "full") (eq $layout "dataentry")}}
                rowHtml += `<td>
                  <select class="form-select" id="prty" name="prty">
                    <option selected disabled value="">Priority</option>
                    <option value="0">Normal</option>
                    <option value="1">High</option>
                  </select>
                </td>`
                {{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><input type='hidden' id='requestid' name='requestid' value=''><input type='hidden' id='active' name='active' value='1'><input type='submit' value='Insert' class="btn btn-primary update-request"></td>`{{end}}
                {{if or (eq $layout "full") ($mgmt)}}rowHtml += `<td class="btn-col"></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"></td>`{{end}}
                rowHtml += `</tr>`
        return rowHtml;
    }

    function generateTableRow(sortRequest, users) {
        //Strip percentage from percent
        let differencePercent = parseFloat(sortRequest.DifferencePercent.replace('%', ''));

        // Check if the absolute value is greater than 10
        let rowClass = '';
        if (Math.abs(differencePercent) > 20) {
            rowClass = 'table-danger';
        } else if (Math.abs(differencePercent) > 10) {
            rowClass = 'table-warning';
        }
        
        // Manufacturer dropdown options
        var userOptions = '<option value="" selected>Select Sorter</option>';
        users.forEach(function(user) {
            userOptions += `<option value="${user}" ${sortRequest.Sorter === user ? 'selected' : ''}>${user}</option>`;
        });
        // Constructing the row HTML
        var rowHtml = `<tr class="${rowClass}">`
            rowHtml += `<td><input type="text" class="form-control requestid" id="requestid" name="requestid" value="${sortRequest.ID}"></td>`
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="col-sku"><input type="text" class="form-control sku" id="sku" name="sku" value="${sortRequest.SKU}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control description" id="description" name="description" value="${sortRequest.Description}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "dataentry")}}rowHtml += `<td><input type="text" class="form-control manufacturerpart" id="manufacturerpart" name="manufacturerpart" value="${sortRequest.ManufacturerPart}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control instructions" id="instructions" name="instructions" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" value="${sortRequest.Instructions}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightout" id="weightout" name="weightout" value="${sortRequest.Weightout}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control weightin" id="weightin" name="weightin" value="${sortRequest.Weightin}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control difference" id="difference" name="difference" value="${sortRequest.Difference}" readonly></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control differencepercent" id="differencepercent" name="differencepercent" value="${sortRequest.DifferencePercent}" readonly percent></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><div class="input-group"><input type="text" class="form-control pieces" id="pieces" name="pieces" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid decimal number" value="${sortRequest.Pieces}"></div></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td><input type="text" class="form-control hours" id="hours" name="hours" value="${sortRequest.Hours}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkout" id="checkout" name="checkout" value="${sortRequest.Checkout}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}rowHtml += `<td><input type="date" class="form-control checkin" id="checkin" name="checkin" value="${sortRequest.Checkin}"></td>`{{end}}
                  {{if or (eq $layout "full") (eq $layout "mgmt")}}
                  rowHtml += `<td>
                    <select class="form-select" id="sorter" name="sorter">
                            ${userOptions}
                    </select>
                  </td>`
                  {{end}}
                  {{if or (eq $layout "full")}}
                  rowHtml += `<td>`
                    {{if $admin}}
                    rowHtml += `<select class="form-select" id="status" name="status">
                      <option value="New" ${sortRequest.Status === "New" ? 'selected' : ''}>New</option>
                      <option value="Checkout" ${sortRequest.Status === "Checkout" ? 'selected' : ''}>Checkout</option>
                      <option value="Checkin" ${sortRequest.Status === "Checkin" ? 'selected' : ''}>Checkin</option>
                    </select>`
                    {{else}}
                      `<input class="form-control" type="text" id="status" name="status" value="${sortRequest.Status}" readonly>`
                      {{end}}
                  rowHtml += `</td>`
                  {{end}}
                  {{if or (eq $layout "full") (eq $layout "dataentry")}}
                  rowHtml += `<td>
                    <select class="form-select" id="prty" name="prty">
                      <option value="0">Normal</option>
                      <option value="1">High</option>
                    </select>
                  </td>`
                  {{end}}
                  {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "dataentry") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><input type='hidden' id='active' name='active' value='1'><input type='submit' value='Update' class="btn btn-primary update-request"></td>`{{end}}
                {{if or (eq $layout "full") ($mgmt)}}rowHtml += `<td class="btn-col"><button type="button" class="btn btn-danger archive-request" id="archiveRequest" name="archiveRequest" data-requestid="">Archive</button></td>`{{end}}
                {{if or (eq $layout "full") (eq $layout "receiving") (eq $layout "mgmt")}}rowHtml += `<td class="btn-col"><a href="/sorterror?requestid=${sortRequest.ID}" class="btn btn-warning error" id="error" name="error" data-requestid="">Error</a></td>`{{end}}
                rowHtml += `</tr>`;
        return rowHtml;
    }
</script>
{{end}}