<html>
<head>
{{template "header"}}
<style>
  .table-responsive-stack tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }

    .table-responsive-stack td,
    .table-responsive-stack th {
      display:block;
    /*      
      flex-grow | flex-shrink | flex-basis   */
      -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .table-responsive-stack .table-responsive-stack-thead {
      font-weight: bold;
    }

    @media screen and (max-width: 768px) {
      .table-responsive-stack tr {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          border-bottom: 3px solid #ccc;
          display:block;
          
      }
      /*  IE9 FIX   */
      .table-responsive-stack td {
          float: left\9;
          width:100%;
      }
    }
</style>
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  {{$permission := .Permission.Role}}
  {{$admin := .Permission.Permissions.Admin}}

  <div class="container">
    <div id="message" class="alert"></div>
    <h1>{{.Title}}</h1>
    <div class="row" id="userTable">
      <div class="col-sm-17">
        <div class="table-responsive">
    <table class="table table-striped table-hover .table-sm table-responsive-stack">
      <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
        <tr>
          {{if $admin}}<th scope="col">ID</th>{{end}}
          <th scope="col">SKU</th>
          <th scope="col">Description</th>
          {{if $admin}}<th scope="col">Manufacturer Part #</th>{{end}}
          {{if $admin}}<th scope="col">Instructions</th>{{end}}
          <th scope="col">Weight Out</th>
          <th scope="col">Weight In</th>
          {{if eq $permission "receiving"}}<th scope="col">Difference</th>{{end}}
          <th scope="col">Pieces</th>
          <th scope="col">Hours</th>
          {{if $admin}}<th scope="col">Checkout Date</th>{{end}}
          {{if $admin}}<th scope="col">Checkin Date</th>{{end}}
          {{if $admin}}<th scope="col">Sorter</th>{{end}}
          <th scope="col">Status</th>
          {{if $admin}}<th scope="col">Priority</th>{{end}}
          <th></th>
          <th></th>
          <th></th>
      </tr>
      </thead>
  <tbody>
    {{if $admin}}
    <tr class="table-info">
      <form method="GET" action="/sortingupdate">
        <td></td>
        <td><input class="form-control" type='text' id="sku" name="sku"></td>
        <td><input class="form-control" type='text' id="description" name="description"></td>
        <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart"></td>
        <td><input class="form-control" type='text' id="instructions" name="instructions"></td>
        <td><input class="form-control" type='text' id="weightout" name="weightout"></td>
        <td><input class="form-control" type='text' id="weightin" name="weightin"></td>
        <td><input class="form-control" type='text' id="pieces" name="pieces"></td>
        <td><input class="form-control" type='text' id="hours" name="hours"></td>
        <td><input type="date" class="form-control" type='text' id="checkout" name="checkout"></td>
        <td><input type="date" class="form-control" type='text' id="checkin" name="checkin"></td>
        <td>
          <select class="form-select" id="sorter" name="sorter">
            <option value="" selected></option>
            {{range $.Users}}
            <option value='{{.Username}}'>{{.Username}}</option>
            {{end}}
          </select>
        </td>
        <td>
          <select class="form-select" id="status" name="status">
            <option value="New">New</option>
            <option value="Checkout">Checkout</option>
            <option value="Checkin">Checkin</option>
          </select>
        </td>
        <td>
          <select class="form-select" id="priority" name="priority">
            <option value="0">Normal</option>
            <option value="1">High</option>
          </select>
        </td>
        <td><input type='submit' value='Insert' class="btn btn-primary"></td>
        <td></td>
        <td></td>
      </form>
    </tr>
    
    <tr class="table-danger">
      <form method="GET" action="/sorting">
      <td></td>
      <td><input class="form-control" type='text' id="sku" name="sku"></td>
      <td><input class="form-control" type='text' id="description" name="description"></td>
      <td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart"></td>
      <td><input class="form-control" type='text' id="instructions" name="instructions"></td>
      <td><input class="form-control" type='text' id="weightout" name="weightout"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin"></td>
      <td><input class="form-control" type='text' id="pieces" name="pieces"></td>
      <td><input class="form-control" type='text' id="hours" name="hours"></td>
      <td><input type="date" class="form-control" type='text' id="checkout" name="checkout"></td>
      <td><input type="date" class="form-control" type='text' id="checkin" name="checkin"></td>
      <td>
        <select class="form-select" id="sorter" name="sorter">
          <option value="" selected></option>
          {{range $.Users}}
          <option value='{{.Username}}'>{{.Username}}</option>
          {{end}}
        </select>
      </td>
      <td>
        <select class="form-select" id="status" name="status">
            <option value="" selected></option>
            <option value="New">New</option>
            <option value="Checkout">Checkout</option>
            <option value="Checkin">Checkin</option>
        </select>
      </td>
      <td>
        <select class="form-select" id="priority" name="priority">
          <option value="0">Normal</option>
          <option value="1">High</option>
        </select>
      </td>
      <td><input type='submit' value='Search' class="btn btn-primary"></td>
      <td></td>
      <td></td>
      </form>
    </tr>
    {{end}}
    {{if eq $permission "receiving"}}
    <tr class="table-danger">
      <form method="GET" action="/sorting">
      <td><input class="form-control" type='text' id="sku" name="sku"></td>
      <td><input class="form-control" type='text' id="description" name="description"></td>
      <td><input class="form-control" type='text' id="weightout" name="weightout"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin"></td>
      <td></td>
      <td><input class="form-control" type='text' id="pieces" name="pieces"></td>
      <td><input class="form-control" type='text' id="hours" name="hours"></td>
      <td>
        <select class="form-select" id="status" name="status">
            <option value="New">New</option>
            <option value="Checkout">Checkout</option>
            <option value="Checkin">Checkin</option>
        </select>
      </td>
      <td><input type='submit' value='Search' class="btn btn-primary"></td>
      <td></td>
      </form>
    </tr>
    {{end}}
    {{range $index, $value := .SortRequests}}
    <!-- Delete Modal -->
          <div class="modal fade" id="ModalDelete{{$index}}" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="ModalDeleteLabel{{$index}}">Confirm Sorting Request Delete</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                    This will permanently delete Sorting Request ID#{{.ID}}, are you sure you want to proceed?
                  </div>
                  <div class="modal-footer">
                      <form action="/sortrequestdelete" method="POST">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <input type="hidden" value="{{.ID}}" id="requestid" name="requestid">
                          <button type="submit" class="btn btn-danger">Yes, Delete</button>
                      </form>
                  </div>
              </div>
            </div>
        </div>
    <tr{{if .Warn}} class="table-warning"{{end}}>
      <form method="GET" action="/sortingupdate">
      {{if eq $permission "admin"}}<td><input class="form-control" type="text" id="requestid" name="requestid" value="{{.ID}}" readonly></td>{{end}}
      <td><input class="form-control" type='text' id="sku" name="sku" value="{{.SKU}}"{{if ne $permission "admin"}} readonly{{end}}></td>
      <td><input class="form-control" type='text' id="description" name="description" value="{{.Description}}"{{if ne $permission "admin"}} readonly{{end}}></td>
      {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="manufacturerpart" name="manufacturerpart" value="{{.ManufacturerPart}}"></td>{{end}}
      {{if eq $permission "admin"}}<td><input class="form-control" type='text' id="instructions" name="instructions" value="{{.Instructions}}"{{if ne $permission "admin"}} readonly{{end}}></td>{{end}}
      <td><input class="form-control" type='text' id="weightout" name="weightout" value="{{.Weightout}}"></td>
      <td><input class="form-control" type='text' id="weightin" name="weightin" value="{{.Weightin}}"></td>
      {{if eq $permission "receiving"}}<td><input class="form-control" type='text' value='{{.Difference}}' readonly></td>{{end}}
      <td><input class="form-control" type='text' id="pieces" name="pieces" value="{{.Pieces}}"></td>
      <td><input class="form-control" type='text' id="hours" name="hours" value="{{.Hours}}"></td>
      {{if eq $permission "admin"}}<td><input type="date" class="form-control" id="checkout" name="checkout" value="{{.Checkout}}"{{if ne $permission "admin"}} readonly{{end}}></td>{{end}}
      {{if eq $permission "admin"}}<td><input type="date" class="form-control" id="checkin" name="checkin" value="{{.Checkin}}"{{if ne $permission "admin"}} readonly{{end}}></td>{{end}}
      {{if eq $permission "admin"}}<td>
        <select class="form-select" id="sorter" name="sorter">
          <option selected disabled value> {{.Sorter}}</option>
          {{range $.Users}}
          <option value='{{.Username}}'>{{.Username}}</option>
          {{end}}
        </select>
      </td>{{end}}
      <td>
        {{if eq $permission "admin"}}
        <select class="form-select" id="status" name="status">
            <option value="New" {{if eq .Status "New"}}selected{{end}}>New</option>
            <option value="Checkout" {{if eq .Status "Checkout"}}selected{{end}}>Checkout</option>
            <option value="Checkin" {{if eq .Status "Checkin"}}selected{{end}}>Checkin</option>
        </select>
        {{else}}
          <input class="form-control" type="text" id="status" name="status" value="{{.Status}}" readonly>
        {{end}}
      </td>
      {{if eq $permission "admin"}}<td>
        <select class="form-select" id="priority" name="priority">
          <option value="0" {{if eq .Priority 0}}selected{{end}}>Normal</option>
          <option value="1" {{if eq .Priority 1}}selected{{end}}>High</option>
        </select>
      </td>{{end}}
      <td><input type='submit' value='Update' class="btn btn-primary"></td>
      {{if eq $permission "admin"}}<td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete{{$index}}">Delete</button></td>{{else}}<td></td>{{end}}
      </form>
      <td>
      <form id="load-error-form" action="/sorterror" method="get">
          <input type="hidden" class="form-control" id="requestid" name="requestid" value="{{.ID}}">
        <button type="submit" class="btn btn-danger">Error</button>
      </form>
    </td>
    </tr>
    {{end}}
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
  </tbody>
  </table>
  </div>
</div>
</div>
</div>
  {{template "footer" .}}
  <script>
    $(document).ready(function() {   
      // inspired by http://jsfiddle.net/arunpjohny/564Lxosz/1/
      $('.table-responsive-stack').each(function (i) {
        var id = $(this).attr('id');
        //alert(id);
        $(this).find("th").each(function(i) {
            $('#'+id + ' td:nth-child(' + (i + 1) + ')').prepend('<span class="table-responsive-stack-thead">'+             $(this).text() + ':</span> ');
            $('.table-responsive-stack-thead').hide();
            
        });
      });

      $( '.table-responsive-stack' ).each(function() {
      var thCount = $(this).find("th").length; 
      var rowGrow = 100 / thCount + '%';
      //console.log(rowGrow);
      $(this).find("th, td").css('flex-basis', rowGrow);   
      });

      function flexTable(){
      if ($(window).width() < 768) {
        
      $(".table-responsive-stack").each(function (i) {
        $(this).find(".table-responsive-stack-thead").show();
        $(this).find('thead').hide();
      });
      
      // window is less than 768px   
      } else {
        
        
      $(".table-responsive-stack").each(function (i) {
        $(this).find(".table-responsive-stack-thead").hide();
        $(this).find('thead').show();
      });

      }
      // flextable   
      }      

      flexTable();

      window.onresize = function(event) {
      flexTable();
      };
      // document ready  
      });
  </script>
</body>
</html>
