<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  {{$permission := .Permission.Role}}
  <br>
  {{template "toastBox" .}}
  {{template "modalDelete" .}}
  {{template "pageControls" .}}
  {{$manage := .Permission.Permissions.Mgmt}}
  {{$admin  := .Permission.Permissions.Admin}}
  <table class="table table-striped table-hover .table-sm" style="max-width: none">
    <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
      <tr>
        <th data-column="username" data-type="string" scope="col" class="sortable">Username</th>
        <th data-column="usercode" data-type="number" scope="col" class="sortable">User ID</th>
        <th data-column="role" data-type="string" scope="col" class="sortable">Role</th>
        <th data-column="manager" data-type="string" scope="col" class="sortable">Manager</th>
        <th data-column="sorting" data-type="boolean" scope="col" class="sortable">Sorting</th>
        <th width=80px></th>
        <th width=80px></th>
    </tr>    
  <tbody id="contentTableBody">
  </tbody>
  </table>
  <br><br>
  <script>
    // Setup Page Variables
    var currentPage = 1; // keep track of the current page
    var totalPages = 0; // total number of pages, you might get this from the server
    var limit = 100; // set page size limit
    $('#limitSelect').val(limit);
    var searchParams = {}; //set initial search parameters
    $(document).ready(function() {
        console.log("Document ready. Initializing table data fetch.")
        fetchAndUpdateTable(currentPage,limit, searchParams);

        // Event handler for image clicks
        $(document).on('click', '.image-link', function() {
            var standardUrl = $(this).data('standard-url');
            var sku = $(this).data('sku');

            $('#imageModalLabel').text(sku);
            $('#modalImage').attr('src', standardUrl);
            $('#imageModal').modal('show');
        });
    });
</script>
  {{template "toast" .}}
  {{template "sortTable" .}}
  {{template "updateUserTable" .}}
  {{template "apicall" .}}
  {{template "footer" .}}
  {{template "btnDeleteUser" .}}
  {{template "nedry" .}}
  {{template "spinner" .}}
</body>
</html>
