<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  {{$permission := .Permission.Role}}
  <br>
  {{template "toastBox" .}}
  {{template "modalDelete" .}}
  {{$manage := .Permission.Permissions.Mgmt}}
  {{$admin  := .Permission.Permissions.Admin}}
  <table class="table table-striped table-hover .table-sm" style="max-width: none">
    <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
      <tr>
        <th data-column="username" data-type="string" scope="col" class="sortable">Username</th>
        <th data-column="usercode" data-type="number" scope="col" class="sortable">User ID</th>
        <th data-column="role" data-type="string" scope="col" class="sortable">Role</th>
        <th data-column="manager" data-type="string" scope="col" class="sortable">Manager</th>
        <th data-column="sorting" data-type="boolean" scope="col" class="sortable">Sorting</th>
        <th width=80px></th>
        <th width=80px></th>
    </tr>    
  <tbody id="userTableBody">
  </tbody>
  </table>
  <br><br>
  <script>
    $(document).ready(function() {
        fetchAndUpdateUserTable();
        
        showToast("Testing the Toast system.", "info");
    });
  </script>
  {{template "toast" .}}
  {{template "sortTable" .}}
  {{template "insertUserRow" .}}
  {{template "updateUserTable" .}}
  {{template "footer" .}}
  {{template "btnDeleteUser" .}}
</body>
</html>
